[2016-12-17 01:43] cmungall opened #1 "Deploy a test instance"
Primarily for browsing swagger docs

[2016-12-17 01:43] cmungall opened #2 "Implement SPARQL wrapping"
cc @balhoff

[2016-12-17 01:48] cmungall opened #3 "Bind to solr search for autocomplete"

[2016-12-17 01:48] cmungall opened #4 "Include neo4j wrapping example"
TBD: via BOLT or SciGraph API?

[2016-12-19 21:31] cmungall opened #5 "Add parameter to dynamically map ID spaces"
In the golr schema we always choose a clique leader from the equivalence set for setting fields like subject, object. In Monarch this is done by @jnguyenx's clique leader code. In GO this is hardwired along partly political grounds as to whose ID to show.

Clients often want associations mapped to their ID space of choice. While it is always possible to do this as a post-processing step using an I

[2016-12-19 21:42] kltm commented on #5
Any kind of closure can be had, they just need to be added to the metadata and made sure that they come out in the right spot in the UI, etc.
Practically, the loader will need a lot of kicking on the GO side. Or a rewrite.

[2016-12-19 21:44] #5 closed, assigned to nobody

[2016-12-19 22:02] cmungall commented on #5
rewrite!

[2016-12-20 00:51] DoctorBud opened #6 "MacOSX Install issues with matplotlib. Easy workaround"
Mac users may encounter this error when running `python biolink/app.py`:

[code]

#### Quick fix

[code]

#### Details

http://stackoverflow.com/questions/4130355/python-matplotlib-framework-under-macosx

[2016-12-20 05:01] cmungall opened #7 "Demo shopping cart functionality"
This is intended to be very quick and proof of concept.

Create a new route in `api/cart/endpoints/cart.py`

`cart/<id>/`

 * GET - show entities in cart (just IDs). Defer fetching labels for now.
 * PUT - creates a new cart, returns uuid
 * POST - add an object to a cart. It can be any entity - just needs a CURIE

See variantset for example code for wrapping a sqlite database. I'd rather avoid sq

[2016-12-20 16:35] cmungall opened #8 "Fix gene/<id>/homologs to use homology type"
The API allows the provision of any relationship type for any route that returns association objects (the precomputed relation closure in solr is used for this).

However, for specific routes like /gene/<id>/homologs, we want to  provide a convenience enum, e.g. corresponding to O/P/LDO. These would trivially map to the RO ID.

We will follow this design pattern in other places where a fixed set o

[2016-12-20 16:37] cmungall opened #9 "Ensure pagination arguments are used throughout"

[2016-12-20 16:42] cmungall opened #10 "implement /phenotype/<id>/anatomy/"
this is just a stub so far.

this can be implemented by the paths:

 * `(phenotype)-[has part]->(_)-[inheres_in|inheres_in_part_of]->(anatomy)`
 * `(phenotype)-[inheres_in|inheres_in_part_of]->(anatomy)`

we may also want an option for traversing up the subclass hierarchy until a match is found.

How to do this?

 * SciGraph `graph` calls?
 * SciGraph dynamic?
 * BOLT?

[2016-12-20 16:43] cmungall commented on #10
Example of BOLT: https://github.com/monarch-initiative/biolink-api/blob/master/biolink/util/monarch_bolt.py

Example of passthrough to SG API: https://github.com/monarch-initiative/biolink-api/blob/master/biolink/util/scigraph_util.py

(note: organization of project may change!)

[2016-12-20 16:48] cmungall opened #11 "Add a functional travis test"
See for example http://flask.pocoo.org/docs/0.11/testing/

[2016-12-20 17:16] cmungall opened #12 "Explore ways to add smartapi annotations"
smartapi provides an editor to add new annotations. Ideally we would by able to do this by adding annotations at the flask level, rather than exporting the json, editing it and having it get out of sync.

as a first pass test we could do a one off export, extend it in the editor, just as a POC

https://websmartapi.github.io/smartapi/
smart-api.info/editor/#/

[2016-12-20 19:46] cmungall opened #13 "Add counts for distinct subjects and distinct objects in association queries"
association counts are trivially returned for any association query, even if pageination used.

For counts of distinct subjects and objects, we can't assume that `|Subject|=1` (consider intermediate disease as subject) or `|Object|=|Association|`

Options are:

 1. precompute ahead of time and populate solr with precomputed results
 2. utilize some function of solr I am not aware of
 3. iterate ov

[2016-12-21 00:33] cmungall commented on #13
@kshefchek can you point to the code that does this for monarch at the moment

[2016-12-21 00:36] cmungall opened #14 "Abstract over querying different golr instances"
GO and Monarch have similar patterns in their golrs, but different fields. Because the GO schema is less generic we have (somewhat) specific field names such as `bioentity` (typically a gene or gene product) or `annotation_class` (typically GO terms)

The Monarch schema is more generic, and we don't assume the LHS is an 'entity', or that the RHS is a class (consider gene-gene interactions), so we

[2016-12-21 00:45] cmungall commented on #14
Implemented a first pass

The idea here is to use the same search_associations code, but to map fields based on a mapping:

https://github.com/monarch-initiative/biolink-api/blob/9fa376370b84a484f3d1b770ea069dd38d9ea370/biolink/util/golr_associations.py#L281-L326

It's not clear that this is superior to having two separate modules to implement this.

[2016-12-21 04:35] kshefchek commented on #13
Right now we facet over the field and then get the length of the facet list.  There might be a way to get the number directly in the solr document with solr 6.

See: https://github.com/monarch-initiative/monarch-app/blob/2624bc0d9/lib/monarch/api.js#L4236

[2016-12-21 19:13] cmungall opened #15 "enable CORS"
http://flask-cors.readthedocs.io/en/latest/

[2016-12-21 19:21] #15 closed, assigned to cmungall

[2016-12-21 21:01] cmungall opened #16 "Reorganize sub-packages"
Better separate API-independent business logic from API

Eventually general purpose modules should live in their own repo and be distributed using normal python mechanisms.

For now, keep these at the top level, e.g.

 * scigraph
 * obographs
 * golr

[2016-12-21 21:28] #16 closed, assigned to nobody

[2016-12-22 01:44] cmungall opened #18 "Implement causalmodels API"
The causalmodels (cam) routes in the API provider operations over LEGO models (encompassing causal phenotype models). These are implemented via SPARQL queries over a pre-reasoned triplestore.

Implement some methods for handling

 * model querying
 * instance querying
 * 'annoton' querying
 * cross-model analytic queries

[2016-12-23 19:08] cmungall commented on #13
OK, great. I see this can be used to fetch a distinct list of ontology terms used to annotate the bioentity too

[2017-01-10 23:16] cmungall opened #20 "Add API tests"
Required for #11

Behave seems best candidate

[2017-01-10 23:24] cmungall commented on #10
Implemented via iterative SciGraph calls:

https://github.com/monarch-initiative/biolink-api/blob/d35110b8a6193cfa924e22e8c13c4cd4c5aa6135/scigraph/scigraph_util.py#L159-L161

This will be simpler with a high-level SG call:

https://github.com/SciGraph/SciGraph/issues/201

[2017-01-10 23:24] #10 closed, assigned to nobody

[2017-01-10 23:24] #20 closed, assigned to nobody

[2017-01-10 23:25] cmungall opened #21 "Add example URLs"
This should leverage the tests (#20)

[2017-01-11 05:16] #21 closed, assigned to nobody

[2017-01-17 17:18] cmungall opened #22 "Make compatible with smart-api"
Enter

http://api.monarchinitiative.org/api/swagger.json

(or the equivalent on localhost:5000 if testing)

Into http://smart-api.info/editor/#/

And fix errors.

Once the errors are fixed, hit 'Save' - this registers the API.

It may get tedious to do this with every release, maybe there is a way to automate via github releases, can look into this later.

Note: the json is generated by the flaskr

[2017-01-18 16:47] cmungall commented on #22
this is just a mistake in the python. Silent at the API level. Should be easy to fix

[2017-01-18 16:49] cmungall commented on #22
you can't have two exact same names in the list for tags

[code]

so dupes somewhere in the python

[2017-01-20 00:01] cmungall commented on #22
schema here: https://github.com/WebsmartAPI/swagger-editor/blob/master/node_modules_changes/schema.json

[2017-03-10 00:25] cmungall opened #26 "Implement genomic feature queries"
Required for https://github.com/monarch-initiative/monarch-app/issues/1431

We have a (stub) route:

`/within/<build>/<reference>/<begin>/<end>`

We may also want one for fetching features N bp up/down of a gene boundary (include the gene features in that region).

These would wrap to be implemented calls in [scigraph/scigraph_util.py](https://github.com/biolink/biolink-api/blob/master/scigraph/sc

[2017-03-10 04:06] cmungall opened #27 "Test /mart/ routes"
See mart.py for how this works.

for owlsim we'll need another route for /disease/phenotype/taxon/

[2017-03-10 04:06] cmungall opened #28 "Switch to marshmallow for object schemas"
May require a change from flaskrestplus to flask-api

[2017-03-10 19:39] jnguyenx opened #30 "Upgrade flask-restplus version when it's available"
It should fix the forward slash issue.

https://github.com/noirbizarre/flask-restplus/issues/251

[2017-03-10 21:06] cmungall commented on #30
So looks like we need 0.11 (we're still on 0.9.2 so should try an incremental upgrade first)

[2017-03-10 23:25] cmungall commented on #28
https://marshmallow.readthedocs.io/en/latest/

will replace serializers.py

[2017-03-16 14:27] mellybelly opened #32 "Galaxy tool wrapper for biolink API?"
See https://docs.galaxyproject.org/en/master/dev/schema.html
for instructions on getting tools into the Galaxy project toolshed.

Here is an example for MouseMine: http://www.mousemine.org/mousemine/begin.do?GALAXY_URL=https%3A//usegalaxy.org/tool_runner%3Ftool_id%3Dmousemine

Alternatively, perhaps more appropriate to be on the sidebar here: https://usegalaxy.org/

Ideas welcome.

[2017-03-17 23:27] jnguyenx opened #34 "External URLs should be configurable"
Useful to point to dev vs prod services for Monarch.

[2017-03-21 20:43] selewis opened #37 "exclude_automatic_assertions fails"
This is the error: <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><title>Error 400 undefined field evidence_object_closure</title></head><body><h2>HTTP ERROR 400</h2><p>Problem accessing /solr/select/. Reason:<pre>    undefined field evidence_object_closure</pre></p><hr><i><small>Powered by Jetty://</small></i><hr/></body></html>

This is the python test script
fro

[2017-03-21 20:56] selewis opened #38 "short-hand function to support 'ribbon' display"
Would be convenient for the 'ribbon' display if there were a method to return T/F for each (GO) class in a slim given i) a gene ID (or entity) and ii) the slim to use.

It should default to setting "exclude_automatic_assertions" to True.

This kind be accomplished via get gene/function (once exclude_automatic_assertions is working) and parsing results, but a lot of unnecessary transfer of data tha

[2017-03-22 20:14] #37 closed, assigned to nobody

[2017-03-22 20:26] selewis commented on #38
Would like to see this with default to setting "exclude_automatic_assertions" to True. To only include experimental annotations.

Almost there though.

[2017-03-22 20:28] selewis opened #40 "Slimmer should support either a list of IDs, or the tag that indicates the set of IDs (e.g. goslim_agr)"
Would rather not need to hard code the list of IDs (will do for the nonce), but have this embedded in the ontology itself.

[2017-03-22 20:45] cmungall commented on #40
If biolink delegates this to scigraph, dependent on https://github.com/SciGraph/SciGraph/issues/207

may be better to get via golr or rdfstore for GO

[2017-03-23 01:26] cmungall opened #41 "Improve biolink API calls wrapping wikidata for disease-substance"
We currently have a path `/disease/{id}/substance`. Currently this returns a substance associated with a disease, but the association model doesn't follow the associations that come from golr.

Like most biolink routes, these are simple facades over more powerful services. In this case, this wraps a SPARQL query provided by @stuppie in https://github.com/NCATS-Tangerine/ncats-ingest/issues/19#issu

[2017-03-30 22:38] cmungall opened #44 "Add mart route for genotype-phenotype"
Need to adequately test. What species has most of these?

Are there any odd bnode issues?

[2017-04-11 01:36] cmungall opened #46 "Ensure ID rewriting is applied universally"
The GO golr uses MGI:MGI:, the monarch MGI:

We standardize on the latter. Currently we rewrite behind the scenes to the doubled version, but this only happens for some fields.

[2017-04-11 02:37] #46 closed, assigned to nobody

[2017-04-14 22:19] jnguyenx opened #48 "Allow configuration to point to other services"
The external URLs are hard-coded. It'll be useful to be able to have that configurable so biolink can point to other endpoints.

For Monarch we'll use that to point to the dev vs prod services.

[2017-04-14 22:39] #27 closed, assigned to jnguyenx

[2017-04-17 19:18] cmungall commented on #8
See @kshefchek's commit here: https://github.com/monarch-initiative/monarch-app/pull/1444/commits/4a95f1ff899b98afa6a5b1c2166ff64f9ffe2e46

[2017-04-17 20:24] cmungall commented on #48
In theory this could be done by simply keeping site-specific configurations in the site-specific fork, but this is a bit unpleasant.

I assume we want something like a yaml file with all URLs configured in it

[2017-04-17 20:29] cmungall opened #49 "Split core obographs/bioontology package into its own top level package"
In the top level we have (in order of dependency)

 * biolink - the flaskrest code
 * obographs - general purpose ontology library
 * biogolr - wrapper for golr
 * prefixcommons - curie util

The last 3 can be combined into a general purpose python library for working with ontologies and ontology associations.

[2017-04-17 23:47] cmungall commented on #49
The bulk of the code that will form its own repo is here:

https://github.com/biolink/biolink-api/tree/master/obographs

It already has its own README.md, setup.py etc.

obographs is not an ideal name any longer, it started as a wrapper for the obographs json format, but is now more of a general purpose ontology / associations library, with bindings to SPARQL, etc. We'll change this to something e

[2017-04-18 15:19] mellybelly opened #50 "Determine mechanism to access biolink-api from Galaxy"
Should this a separate tool in the toolshed? Data access on the left sidebar?
I think this is an important dissemination/use case for our API and would be very useful for Galaxy users, who suffer a lack of phenotype data in particular. @tnabtaf can assist in helping us make decisions.

@tnabtaf see also https://api.monarchinitiative.org/api/

[2017-04-18 18:14] mellybelly commented on #50
see also https://planemo.readthedocs.io/en/latest/#

[2017-04-21 14:47] cmungall commented on #49
These are now on pypi and are separate dependencies:

 * https://github.com/biolink/ontobio
 * https://github.com/prefixcommons/prefixcommons-py

[2017-04-21 14:47] #49 closed, assigned to cmungall

[2017-04-24 16:21] cmungall opened #53 "Check issues with cachier"
Needs to be forced to 0.1.26

Note that due to #49 this may need to be done in ontobio

[2017-04-24 16:24] cmungall commented on #53
Looks like it switched from 0.x to 1.x in the last 4 days

In general we should

 - we pinning requirements.txt to a version. Just laziness on my part we say >0.0
 - upgrading to 1.xs from 0.xs where possible

[2017-04-24 22:30] cmungall commented on #53
Latest cachier release fixes the issue

[2017-04-24 22:32] #53 closed, assigned to nobody

[2017-05-03 16:55] mellybelly opened #55 "Add service for ID equivalency queries"
It would be great to have the ability to take any identifier in the system and return all equivalent IDs (and labels). Some users may wish to dump this data as well as having a service.

@kshefchek

[2017-05-03 17:39] cmungall commented on #55
There are a few different operations, no reason why we can't offer them all, but we should have clear options/distinct routes

For purposes here, "id" is taken as superclass of CURIE, URI and unconstrained ids

 - given an identifier, return alternate forms of the same identifier (e.g. URI<-> CURIE). We have this route already
 - given an id return owl:equivalent and owl:sameAs ids
 - given an id,

[2017-05-03 18:25] mellybelly commented on #55
An additional service could be to take any id and return all ids within the closure according to one of the above axes, some third parties might find this useful for query expansion?

[2017-05-03 18:54] kshefchek commented on #55
For now I've created two services in SciGraph, we could either proxy these in biolink or get them directly with cypher or bolt:

https://scigraph-data-dev.monarchinitiative.org/scigraph/docs/#!/dynamic/returns_the_id_and_all_its_equivalents
https://scigraph-data-dev.monarchinitiative.org/scigraph/docs/#!/dynamic/returns_ids_that_are_equivalent_and_potentially_equivalent_xrefs

[2017-05-03 19:31] RichardBruskiewich commented on #55
Hi Chris,
re: id bullet points above

Our Knowledge Beacon API originally returned 'xrefs' which is your 3rd bullet point use case. However, it was pointed out that some xrefs point to general parent concepts of a given concept, hence, our algorithm to build true equivalence cliques of id's would perilously expand beyond exact matches.

We subsequently revised the API to only have "exactmatches" A

[2017-05-03 21:31] cmungall commented on #55
Good point about SKOS.

skos:exactMatch is strictly weaker than OWL identity

https://www.w3.org/TR/skos-reference/#mapping

"The property skos:exactMatch is used to link two concepts, indicating **a high degree of confidence** that the concepts **can be used interchangeably** across a wide range of information retrieval applications"

[2017-05-03 22:58] kshefchek opened #56 "gene/<id>/function does not return results"
with example ID MGI:1342287.  There is also some leakage of params specific to the homology call.  I am using [api.parser.copy()](http://flask-restplus.readthedocs.io/en/stable/api.html#flask_restplus.reqparse.RequestParser.copy) so I suspect there might be a weird gotcha in python inheritance?  cc @mbrush

[2017-05-03 23:03] cmungall opened #57 "Leakage of parameters across routes"
From #56

`/gene/<id>/function`

has homology params.

[2017-05-03 23:06] cmungall commented on #56
The call is correct, the data in GO Golr is unfortunately wrong: https://github.com/geneontology/go-annotation/issues/1554

[2017-05-03 23:07] cmungall commented on #56
OK, the hacky fix is to remove the constraint that the subject_category is gene. This is fine as the only things annotated with function (aka GO) are genes and gene products.

And the gene/gene product conflation thing is a separate issue...

[2017-05-03 23:37] RichardBruskiewich commented on #55
@cmungall Chris, what do you suggest should be our gold standard for the Knowledge Beacon: **owl:sameAs** or **skos:exactMatch** ?

[2017-05-03 23:42] RichardBruskiewich commented on #55
@cmungall
Just need clarification. You said "...we'll want a simple knowledge beacon layered on top of this..."

Do we support **all** three use cases you outlined, in the Knowledge Beacon API, or **only** the API call for

                      "Given an id, give back the **owl:sameAs** ids"

[2017-05-03 23:49] cmungall commented on #55
Let's err on the side of inclusivity for now

On 3 May 2017, at 16:42, Richard Bruskiewich wrote:

[2017-05-04 00:29] RichardBruskiewich commented on #55
How inclusive?

Just **owl:sameAs** _and_ **skos:exactMatch**

(blackboard integration of knowledge relationships may be more precise)

or

**owl:equivalent**, **owl:sameAs** _and_ **skos:exactMatch**, plus potentially equivalent ids (essentially xrefs) ?

(greater potential for an hairball explosion of knowledge map due to approximate matching of concepts)

or

separate API calls for each?

[2017-05-04 15:13] mellybelly commented on #55
I would think safest to have separate API calls

[2017-05-05 14:23] cmungall commented on #55
This is actually quite a subtle point regarding class extension vs intension. For our purposes here, we don't care.

[2017-05-05 18:40] cmungall commented on #22
Also need to address this:

[2017-05-08 23:40] lhannest opened #58 "search/entity/{term} doesn't return anything"
The examples are
https://api.monarchinitiative.org/api/search/entity/parkinson
https://api.monarchinitiative.org/api/search/entity/shh
https://api.monarchinitiative.org/api/search/entity/femur

For each the response is empty.

The swagger page also appears to be acting up for this query, which might be relevant.

[2017-05-09 04:04] cmungall commented on #58
@kshefchek or@DoctorBud - can you look? May just need to up the version of ontobio used, this was only added latest release on pypi

[2017-05-09 05:07] cmungall commented on #58
Reopening until its deployed on production - will do this with @kshefchek tomorrow

[2017-05-09 20:57] lhannest opened #60 "Add Data Paging"
At the moment there is only an option to choose how many rows to return (at least for GET /search/entity/{term}). There should also be an option to choose at what index to start from. It would be nice to be able to load a thousand items in batches of tens or hundreds, or something like that, without having to load all thousand at once.

[2017-05-10 19:54] cmungall opened #61 "Switch api_marshall_list_with to api_marshall_with"
https://api.monarchinitiative.org/api/#!/bioentity/get_gene_interactions

shows the return type as
[code]

Looks like an issue here:

https://github.com/biolink/biolink-api/blob/7cadd9a7655b610fab672d8999812cf3e4567001/biolink/api/bio/endpoints/bioentity.py#L99

The return should be api_marshall_with

[2017-05-10 20:11] #61 closed, assigned to nobody

[2017-05-16 01:04] selewis opened #66 "ortholog identifiers"
This may turn into 2-3 separate issues, but lets start. The objective is to determine whether any of the orthologs of a given gene have been functionally described using GO.

This query:
https://api.monarchinitiative.org/api/bioentity/gene/MGI%3A97490/homologs/?homology_type=O&rows=20&fetch_objects=true

Returns these results:
    "FlyBase:FBgn0005558",
    "FlyBase:FBgn0019650",
    "NCBIGene:100

[2017-05-16 01:21] cmungall commented on #66
some context: the monarch biolink is configured to query from the go golr for any function queries, we we annotate humans to UniProt GCRPs. These are not in the equivalence clique since proteins != genes.

@kshefchek I thought I made a ticket about this but I imagined it? I also thought I put this in the graphstore reasoning doc but it seems not. The most elegant way to handle this is to make equi

[2017-05-17 01:19] selewis opened #67 "FB vs. FlyBase"
For example: is it FlyBase:FBgn0005558 or FB:FBgn0005558?
There is a discordancy in Biolink, because the method to retrieve the orthologs for a gene uses 'FlyBase' for the matching ortholog identifiers, but if subsequently you try and use this ID to retrieve GO annotations nothing will come back because GOlr (and PANTHER and the GPCR) use FB as the resource prefix.

[2017-05-17 01:21] cmungall commented on #67
Yes, it's a discrepancy between GO and Monarch (Biolink itself is neutral).

I thought we already dealt with this:

https://github.com/biolink/ontobio/blob/68b1dc4d23c32f4279967129c11b9bee7c6ba025/ontobio/golr/golr_query.py#L121-L124

Maybe the monarch one is lacking behind in ontobio version

[2017-05-24 03:29] goodb opened #70 "use_compact_associations parameter results in 500"
In https://api.monarchinitiative.org/api/#!/bioentity/get_disease_gene_associations if the parameter use_compact_associations is set (either true or false), the server returns a 500 error.  Unset, the service works fine.

[2017-05-24 23:56] selewis opened #71 "A particular slim query with ZFIN:ZDB-GENE-990415-200 gives a 500 error"
Thought this was the gene_product issue, but appears not. Here's the query:
http://127.0.0.1:8888/api/bioentityset/slimmer/function?slim=GO:0003824&slim=GO:0004872&slim=GO:0005102&slim=GO:0005215&slim=GO:0005198&slim=GO:0008092&slim=GO:0003677&slim=GO:0003723&slim=GO:0001071&slim=GO:0036094&slim=GO:0046872&slim=GO:0030246&slim=GO:0008283&slim=GO:0071840&slim=GO:0051179&slim=GO:0032502&slim=GO:0000

[2017-05-25 00:12] selewis opened #72 "Slimmer function should exclude 'NOT' annotations by default"
It may already be doing this, but should be checked to verify. One example is ZFIN:ZDB-GENE-990415-200 annotation to GO:0043524 (negative regulation of neuron apoptotic process)

[2017-05-25 05:22] goodb opened #73 "GET /graph/edges/from/{id} = 500"
request
https://api.monarchinitiative.org/api/graph/edges/from/HP%3A0000465

response
{
  "code": 500,
  "message": "There was an error processing your request. It has been logged (ID e97fa0aef407dbfa)."
}

[2017-05-25 23:35] selewis commented on #66
Any idea when we might at least have WB and RGD clique leaders?

[2017-05-26 20:47] goodb opened #74 "GET /evidence/graph/{id} = 500"
https://api.monarchinitiative.org/api/evidence/graph/cfef92b7-bfa3-44c2-a537-579078d2de37

(id provided in the API doc)

response
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</title>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error and was unable to complete your request.  Either the server is overloaded or there is an error in

[2017-05-26 22:07] cmungall commented on #67
@selewis can you confirm if this is fixed in the dev version?

[2017-05-26 22:08] #74 closed, assigned to nobody

[2017-05-27 05:11] goodb commented on #74
I just tried it again https://api.monarchinitiative.org/api/evidence/graph/cfef92b7-bfa3-44c2-a537-579078d2de37

With same result.  Maybe fix not pushed to production yet?

[2017-05-30 01:22] cmungall opened #76 "Add a graphql route"
Consider https://github.com/graphql-python as framework

[2017-05-30 22:49] kshefchek opened #77 "Add TSV option for mart service and/or association endpoints"
For bulk downloads, we should add an option for various delimited formats - tsv, csv.

[2017-05-30 22:52] kshefchek opened #78 "Remove taxon restriction in mart service"
Currently there is not way to download an association dump file for all organisms.  This could be solved by making taxon an optional param in the mart service.

[2017-05-31 00:32] selewis opened #79 "Gene-function operation does not work for HGNC IDs"
A query (slimmer bio link query) using the HGNC:1110 id will retrieve the mouse ortholog information, but nothing for human. Conversely however, for the same gene UniProtKB:P38398, the query will return information for both human and mouse (as expected). In a sense it 'works' but not if data goes missing depending on what id is used. I have a feeling this is a general issue and will require testin

[2017-05-31 06:20] cmungall commented on #79
Withdrawn: http://www.genenames.org/cgi-bin/gene_symbol_report?q=data/hgnc_data.php&hgnc_id=1110

However, still fails for valid IDs such as HGNC:6081

[2017-05-31 06:24] #48 closed, assigned to nobody

[2017-05-31 06:32] cmungall commented on #79
This is the problem: https://github.com/SciGraph/SciGraph/issues/135

We can implement a workaround

[2017-05-31 16:20] cmungall opened #81 "Ensure disease endpoints are complete and that full functionality is exposed"
Currently not all disease endpoints are functional. It should be straighforward to complete this.

We also want to ensure the API can be used for deeper exploration of disease space. Some of the following are not possible yet:

 * For a disease, return its equivalence clique (currently it will return xrefs, but these are strictly weaker)
 * For an equivalence clique, what is it's probability? What

[2017-06-13 05:30] cmungall commented on #50
@nathandunn is looking at this (for a planteome demo but any biolink instance could do)

[2017-06-13 16:26] nathandunn commented on #50
Just starting.  Hopefully done this week, but might be next week, with an entry in the toolshed:

https://github.com/nathandunn/biolink-galaxy/

Where do you want the final resting place for this to be?

[2017-06-13 16:51] nathandunn commented on #50
@cmungall  / @mellybelly  Is there a way this could be assigned to me?

[2017-06-20 23:23] NuriaQueralt opened #83 "Association/ from/ and to/ endpoints"
Dear Monarch team,

Can i query /association/from/{subject} and /association/to/{object} endpoints using any equivalent identifier to specify the 'subject' and 'object' entities, respectively, obtaining the same results?  As for instance for the id parameter in the /bioentity/anatomy/{id} endpoint?

Regarding the results, is there any preferred ID used for node entity type?

Many thanks in advance

[2017-06-22 14:39] lhannest opened #84 "GET /bioentity/{id}/associations/"
I assume that the point of this query is to search for an association with either a subject or object that matches with `id`, but in fact it's only matching subjects.

https://github.com/biolink/biolink-api/blob/master/biolink/api/bio/endpoints/bioentity.py:
[code]
Moreover, this above method appears to be doing more or less the same thing as the following:

https://github.com/biolink/biolink-api/

[2017-06-22 15:10] cmungall commented on #84
Good point, it's a bit underspecified. I think the former would be more useful and intuitive if it did the union as you suggest.

[2017-06-22 23:19] #79 closed, assigned to cmungall

[2017-06-29 00:08] cmungall commented on #14
Done

[2017-06-29 00:08] #14 closed, assigned to nobody

[2017-06-29 00:09] #1 closed, assigned to nobody

[2017-06-29 00:09] #3 closed, assigned to nobody

[2017-06-29 00:11] cmungall opened #85 "decide on behavior for bioentity entity-centric endpoints"
semantics of `bioentity/SUBJTYPE/<id>/ASSOCTYPE` are clear

For just `bioentity/TYPE`, need to decide whether to return whole object or shell

[2017-07-06 20:27] jmcmurry opened #87 "List all variants that support a gene-phenotype association or a gene-disease association"
Make a service that lists all variants that support a gene-phenotype association or a gene-disease association.

Eg. something that wraps the query below a bit more elegantly.

https://solr.monarchinitiative.org/solr/golr/select/?q=*:*&wt=json&fq=subject_category:variant&fq=object_closure:%22HP:0000458%22&fq=subject_gene_label:DNAH8&fl=subject,%20subject_label,%20object,object_label,subject_gene,s

[2017-07-07 18:41] lhannest opened #88 "Associations without relation"
The API returns associations without relations: https://api.monarchinitiative.org/api/association/de7a6384-2fa8-4495-82bc-1027ece482bb?rows=10&page=1

This seems like a bug, though maybe it's intended.

[2017-07-08 00:02] cmungall commented on #88
Not intended, but your defensive PR seems good for now

[2017-07-08 00:03] cmungall commented on #88
https://github.com/monarch-initiative/monarch-cypher-queries/issues/7

[2017-07-28 16:36] kshefchek commented on #77
cc @pnrobinson @julesjacobsen

[2017-09-05 22:10] realmarcin opened #89 "direct query to retrieve info for disease ids (and lists of ids)"
FIrst I tried this call to get info for disease ids:

https://api.monarchinitiative.org/api/bioentity/disease/OMIM:151380

but it turns out this method is not implemented yet. Then I fell back to a different method whose return contains disease id labels:

https://api.monarchinitiative.org/api/bioentity/disease/OMIM:151380/phenotypes/

Here the labels for specific gene ids can be found in

disease

[2017-10-06 22:00] cmungall opened #90 "Function routes are timing out"

[2017-10-06 22:00] #90 closed, assigned to nobody

[2017-10-10 21:13] selewis commented on #38
function added

[2017-10-10 21:14] #38 closed, assigned to nobody

[2017-10-11 15:56] cmungall opened #91 "Wrap alternate sources of orthology"
eg mygene

until:
https://github.com/monarch-initiative/dipper/issues/536

[2017-10-11 17:36] cmungall commented on #91
mygene / wikidata / https://sparql.omabrowser.org/sparql

[2017-10-12 01:00] selewis opened #92 "return NOT information when fetching annotations"
Even if it's the reduced option for retrieval this information is crucial. Where it is currently hurting us is in slimmer.py, but would need it other places too. It needs to be returned in the JSON.

For example:
https://api.monarchinitiative.org/api/bioentityset/slimmer/function?rows=100&slim=GO:0003824&slim=GO:0004872&slim=GO:0005102&slim=GO:0005215&slim=GO:0005198&slim=GO:0008092&slim=GO:000367

[2017-10-12 02:10] cmungall opened #94 "Ensure behave tests pass"
Until #11 is done we need to run tests regularly and/or set up jenkins

Recently the behave tests failed. This was due to the tests being somewhat brittle about assumptions about what data we had. This is to be expected but I thought I chose examples that would likely remain. It seems we may have lost data, e.g for monotremes?

[2017-10-12 02:16] #92 closed, assigned to cmungall

[2017-10-12 02:18] #94 closed, assigned to cmungall

[2017-10-12 20:50] cmungall opened #96 "Simplify slimmer"
The slimmer is complex due to the need to federate (See #91) for homology and go assocs.

![image](https://user-images.githubusercontent.com/50745/31518469-5d7e643c-af6d-11e7-9b41-506eeaa5283b.png)

[code]

[2017-10-12 20:51] cmungall commented on #96
Once @yy20716 has made a triplestore for Monarch we could do this all with a single federated SPARQL call!

[2017-10-13 21:18] selewis commented on #96
That would be nice. Also note that the graph isn't quite right. Sometimes (for example) an ortholog request for a mouse gene will return a UniProt ID for the human ortholog, then if that is used to get its annotations (via the slimmer) that also works great. However for AGR we also need to provide the HGNC id for the orthlogous gene, not the UniProt ID, and in this case need the link between these

[2017-10-13 21:21] kltm commented on #96
@selewis Could you add a commit hash?

[2017-10-13 21:21] selewis commented on #91
Does PANTHER have anything equivalent to this? Be nice to have same source for the AGR data

[2017-10-13 21:24] selewis commented on #96
52f608f175271df51b13790e2a40e54a52fd4eda

[2017-10-13 21:46] selewis commented on #91
Would anyone have a strong objective to simply sucking up this file from PANTHER and using it for YEAST in the interim??
ftp://ftp.pantherdb.org/ortholog/12.0/

[2017-10-19 00:02] cmungall commented on #11
Until this is done, all PRs must be accompanied by a manual run of make test

[2017-10-19 01:04] selewis opened #105 "Not always able to find HGNC ids for human UniProtKB ids"
For example, UniProtKB:Q9BXM7 should deliver HGNC:14581.

Hope this isn't buried too deeply

[2017-10-20 17:00] cmungall opened #106 "mart routes for exomiser"
From Damian:

[2017-10-20 20:36] cmungall opened #107 "Main instance should be manually deployed"
Currently it's deployed on a push to master. Should be switched to manual to minimize disruption

[2017-10-20 20:38] cmungall opened #108 "Switch out hardcoding to scigraph-dev in slimmer.py"
[code]

[2017-10-20 20:42] cmungall opened #109 "Ensure uptime monitoring is set for all sub-services used in production"
Sub-services listed here:
https://github.com/biolink/biolink-api/blob/master/conf/config.yaml

However, only a subset currently used for production purposes:

 - http://golr.berkeleybop.org - GO function
 - https://solr.monarchinitiative.org/solr/golr - homology
 - scigraph-dev - ID mapping (see #108)

We should have either/or

 - periodic execution of behave tests, with a warm body to check if so

[2017-10-20 22:55] #105 closed, assigned to cmungall, kshefchek

[2017-10-20 22:56] selewis commented on #72
Actually we do want these, and now we have them (thanks Chris)

[2017-10-20 22:56] #72 closed, assigned to cmungall

[2017-10-20 22:58] selewis commented on #71
Now working

[2017-10-20 22:58] #71 closed, assigned to cmungall

[2017-10-20 22:58] #66 closed, assigned to cmungall, TomConlin, kltm

[2017-10-20 22:59] selewis commented on #67
Hacks in place to swap things in and out. Needs to be revisited later.

[2017-10-20 22:59] #67 closed, assigned to cmungall, kshefchek

[2017-10-20 23:40] kltm commented on #109
I'd actually expand to *all* of:
* uptime robot checks on all 3 sub-services, as well as api.mi itself (setting this up now)
* periodic execution of behave tests, with a warm body to check if something goes wrong (periodically run in Jenkins with email on failure, or have uptimerobot  look at the results)
* nagios and greylog scanning for likely problems (harder and we'd need some bandwidth to do

[2017-10-20 23:40] kltm commented on #109
I think number 1 for this ticket, at least, and then planning items for the other two.

[2017-10-20 23:45] cmungall commented on #109
tagging @jmcmurry for coordination of warm bodies

[2017-10-21 00:40] cmungall commented on #107
according to uptime robot, deployment means the server is down for 7mins, which is not good. But this could be to do with how frequently it checks

[2017-10-21 00:47] kltm commented on #109
Okay, a first pass is done. Currently:

* all warnings are fired to chris or chris and myself (in the case of BBOP GOlr dev--enjoy that extra chatter, Chris ;)
* A beginning status page can be found here: https://stats.uptimerobot.com/Z44RnHOYG
* added at 15min frequency (the second and third already being used for AGR):
  * http://golr.berkeleybop.org/solr/select?q=*:*&rows=0
  * https://api.mona

[2017-10-21 11:05] damiansm commented on #106
An update:
 I managed to do some playing with the mart route and was doing the trick for the disease stuff for (1).
mart links for Strain->gene and Strain->phenotype for mouse, fish and all species would  definitely solve (2) and (3) as you say.
(4) I can definitely solve from a biolink query or one of the existing downloads e.g. all.owl or monarch-merged.owl.
For (5) if the owlsim.cache download

[2017-10-21 18:39] selewis commented on #108
Both slimmer and bioentity (for homology) have these ugly hacks. Until ID resolution is available what are you suggesting we do? Can't get GO results without using a UniProt identifier.

[2017-10-27 16:22] RichardBruskiewich opened #114 "Need a way to retrieve the list of all 'relation' predicate CURIE and names used in associations within Biolink"
.... to used to implement the /predicates endpoint of https://github.com/NCATS-Tangerine/translator-knowledge-beacon (release 1.0.14) in the https://github.com/NCATS-Tangerine/biolink-beacon (Python) main.py controller code

[2017-10-30 19:51] cbizon opened #115 "get_phenotype_anatomy_associations"
I'm trying to find anatomy terms that are linked to particular HPO terms.  When I hit the API with something like:

```https://api.monarchinitiative.org/api/bioentity/phenotype/HP%3A0011950/anatomy/?fetch_objects=true&rows=100```

I'm getting back an empty response.  Is that expected?

If I try to go the other direction:

```https://api.monarchinitiative.org/api/bioentity/anatomy/CL%3A0000097/phen

[2017-10-30 19:53] cbizon opened #116 "/phenotype/{id} returning {foo:bar}"
Calling

```https://api.monarchinitiative.org/api/bioentity/phenotype/HP%3A0011950?fetch_objects=true&rows=100```

returns:

[code]

[2017-10-30 20:01] cbizon opened #117 "/goterm/{id} returns {foo:bar}. Looking for xontology relations."
When I hit this:

```https://api.monarchinitiative.org/api/bioentity/goterm/GO%3A0032762?fetch_objects=true&rows=100```

I get this:

{
  "foo": "bar"
}

What I was looking for were some cross ontology references like one can get from EBI QuickGo.

[2017-11-06 18:55] cbizon opened #118 "GET /bioentity/gene/{id}/function/ has trouble with synonyms"
If I query with id=UniProtKB:P10721  I get back a bunch of results.

But querying with id=NCBIGene:3815 (which should be equivalent)  I get back
[code]

[2017-11-06 19:20] jmcmurry commented on #118
First, some background. In Monarch proteins and genes are related but not considered precisely equivalent.

Just to disambiguate the issues involved here:

- Response to [NCBIGene:3815](https://api.monarchinitiative.org/api/bioentity/gene/NCBIGene:3815/function/?fetch_objects=true&rows=100) should not be blank. Agreed. We do seem to have function information associated with this specific gene: (se

[2017-11-06 19:22] cbizon commented on #118
Yes, agreed on the distinction between gene and protein.

The only reason I tried UniProtKB at all was because of this comment in the api documentation:

"Additionally, for some species such as Human, GO has the annotation attached to the UniProt ID. Again, this should be transparently handled; e.g. you can use NCBIGene:6469, and this will be mapped behind the scenes for querying."

[2017-11-06 19:25] jmcmurry commented on #118
I see; I didn't know that :) It sounds like we do not have any axioms relating this specific gene to this specific protein. Will ask @TomConlin to investigate.

[2017-11-06 20:22] TomConlin commented on #118
guessing it will be related to
https://github.com/monarch-initiative/dipper/pull/538/files#diff-b1901a5cdc0e5f9c2557ec04b699a958L1

previously NCBIGene would have been the clique leader

but this isn't a good reason for the query not to have returned with HGNC:6342

[2017-11-06 20:48] kshefchek commented on #118
This query hits the gene ontology solr server, so I don't think the usual monarch considerations apply, cc @kltm

[2017-11-06 21:14] kltm commented on #118
All checks we have for services are positive. This would be for @selewis or @cmungall .

[2017-11-06 21:41] selewis commented on #118
Just to note that the clique leader ID for a (human) gene is HGNC (not
NCBIGene), and for the (human) protein UniProtKB

On Mon, Nov 6, 2017 at 1:15 PM, kltm <notifications@github.com> wrote:

[2017-11-07 17:41] lawsonvt opened #119 "GET /bioentity/phenotype/{id}/gene/{taxid}/ids seems to return ALL genes, regardless of phenotype"
When I use the example values for this method, I get a long list of mouse genes returned, instead of the expected 92 mouse genes associated with the example phenotype. I suspect the method is just returning all genes and not filtering out those with the specific phenotype. Or am I forgetting to check something?

https://api.monarchinitiative.org/api/bioentity/phenotype/MP%3A0001569/gene/NCBITaxon%

[2017-11-10 07:56] cmungall commented on #117
not yet implemented - best to use scigraph for now

[2017-11-10 07:58] #116 closed, assigned to nobody

[2017-11-20 18:00] kshefchek opened #122 "BioLink API "GET /bioentity/phenotype/{id}/anatomy/" Not Functioning"
Original ticket by @Superraptor in [monarch-app](https://github.com/monarch-initiative/monarch-app/issues/1519)

Hi! First, I'd like to say amazing work here, I'm a huge fan of the Monarch Initiative application and the API has been an amazing resource as of late.

Second, my apologies if this is the wrong place to post this. I'm specifically referring to the BioLink API documentation as seen [her

[2017-11-28 00:03] jmcmurry commented on #114
+1

[2017-12-01 07:31] jmcmurry opened #123 "Need more application-friendly views of phenotype facet counts."
The current calls for phenotypes for an entity (https://api.monarchinitiative.org/api/bioentity/disease/OMIM%3A605543/phenotypes/?fetch_objects=true&rows=300) return a lot of ceremony, which, while not untrue data, is not particularly useful for the UI.

These additional things include but are not limited to owl:thing, BFO classes, etc. While the long game may be for there to be annotation propert

[2017-12-02 00:20] selewis commented on #91
Thank you Chris!

On Fri, Dec 1, 2017 at 4:19 PM, Chris Mungall <notifications@github.com>
wrote:

[2017-12-02 00:24] cmungall opened #125 "Solve ubiquitous id mapping issues"
API users should be provided flexibility in identifiers used. We need to be able to

 - normalized the identifier used (e.g. FB vs FlyBase, auto-identify prefix from string "FBgn" etc)
 - make equivalent gene IDs substitutable
 - use gene IDs as proxy for canonical protein ID and vice versa

Currently behavior varies depending on call and data source.

 - for monarch, we use closure fields which i

[2017-12-02 00:28] cmungall commented on #125
For looking up IDs en masse in scigraph we could use https://github.com/SciGraph/SciGraph/issues/249

however, rather it may be better to query with bolt directly

[2017-12-02 00:33] cmungall commented on #125
We currently iterate and make multiple scigraph calls

https://github.com/biolink/biolink-api/blob/ae6f5de569924429ac45953fd7ff09ba5bf976c1/scigraph/scigraph_util.py#L246-L300

this is both ugly and inefficient

[2017-12-02 00:37] selewis commented on #125
Another related issue is on the client side. If the request (naively,
inadvertently, no other choice, etc) uses one of the alternate prefixes AND
they are issuing a batch of parallel requests, but the results return the
normalized identifier then the client cannot reliably match up the response
to the initial query. (As for example with the ribbon code where FB doesn't
match FlyBase). Be nice if t

[2017-12-02 02:30] cmungall opened #126 "behave test for homology failing for HGNC:11593"
I suspect because payload is

[code]

should be a HGNC ID?

cc @selewis

[2017-12-02 02:38] selewis commented on #126
Yep. Should be an HGNC id. The test compares the taxon id to the prefix to
ensure a match to the 'authoritative' ID minter. human (9606) should be
HGNC.

On Fri, Dec 1, 2017 at 6:30 PM, Chris Mungall <notifications@github.com>
wrote:

[2017-12-03 01:10] jmcmurry commented on #123
Per recent email discussion; I've opted to hard code the top level categories and labels for now. Please see the file [here](https://github.com/biolink/biolink-api/pull/127).

[2017-12-03 21:06] cmungall commented on #123
creates a new dict in the `facet_counts` object, e.g.

[code]

 - [ ] collapse categories
 - [ ] give counts for dictinct classes vs dictinct assocs? (may need help from @kshefchek on solr)
 - [ ] implement for other routes
 - [ ] use pivot for subdividing facet to include frequency/severity/onset?

[2017-12-04 21:23] cmungall commented on #123
Up on api-dev

https://api-dev.monarchinitiative.org/api/bioentity/disease/OMIM%3A605543/phenotypes/?fetch_objects=true&rows=300

[2017-12-04 21:34] kshefchek commented on #123
Yes this is a challenge, but maybe the intention is to only generate this view for leaf nodes?

Maybe we can mock up something quick with plotly to see if it's even worth doing this since frequency/severity/onset annotations are sparse

[2017-12-04 21:37] cmungall commented on #123
if we restricted to leaf or leafy disease nodes then we could be confident a call to fetch all objects would be timely, and then propagate up in biolink using the ontology

But this seems restrictive, we want this to work for intermediate level nodes. And also for things other than disease

freq: good point

[2017-12-05 05:59] kshefchek commented on #123
@jmcmurry @cmungall here is a plotly mock up of the phenotype breakdown.  It uses a threshold configuration (freqThreshold) to determine whether to show a breakdown of frequency information.  As configured, if more than 5% of phenotype annotations have frequency annotations it shows a stacked barchart.

https://codepen.io/anon/pen/aVMPGX

[2017-12-09 00:00] selewis commented on #126
Specifically it should be HGNC:11593

[2017-12-15 18:47] kshefchek opened #129 "Add phenolog service"
There seems to be some preliminary work on adding phenolog analyses to ontobio, could we turn this into a biolink service?

https://github.com/biolink/ontobio/search?utf8=%E2%9C%93&q=phenolog&type=

Monarch-app ticket: https://github.com/monarch-initiative/monarch-app/issues/348

[2017-12-19 21:16] cmungall opened #130 "Fix OpenAPI parse errors"

[2017-12-19 21:19] cmungall opened #131 "Fix tests to assume HGNC not NCBIGene"
This is now public
https://github.com/monarch-initiative/dipper/pull/538

which breaks existing tests

[2017-12-20 00:37] cmungall opened #133 "Make notebooks folder work on binder"
Currently the notebook setup is a little peculiar, because the notebooks are one level down but use the libraries from ../biolink

It may be simpler to have the notebooks live in a separate repo with an explicit ontobio dependency

[2018-01-09 23:57] kshefchek opened #135 "500 for substance treats query"
For example:
 https://api.monarchinitiative.org/api/bioentity/substance/CHEBI%3A40036/treats/?fetch_objects=true&rows=100

Stack trace ends with:
File "/opt/biolink-api-master/biowikidata/wd_sparql.py", line 94, in resolve_to_wikidata
    (_,is_curie,p) = prefix_map.dbprefix2prop()[prefix]

[2018-01-31 22:14] othreecodes opened #136 "Convert MONDO to other id space for wikidata queries"
<pre>2018-01-31 22:37:17,300 - root - INFO - Docs found: 61
[2018-01-31 22:38:57,211] ERROR in app: Exception on /api/bioentity/disease/MONDO:0005720/treatment/ [GET]
Traceback (most recent call last):
  File &quot;/root/livewebsites/biolink-api/venv/lib/python3.6/site-packages/flask/app.py&quot;, line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File &quot;/root/livewebsites/bi

[2018-02-01 19:25] iamkoehler commented on #123
probably duplicate of https://github.com/obophenotype/human-phenotype-ontology/issues/2474

probably duplicate of https://github.com/obophenotype/human-phenotype-ontology/issues/3375

should we close the other tickets?

[2018-02-03 12:43] othreecodes commented on #136
@cmungall any help with this?

[2018-02-04 03:25] kshefchek commented on #136
For wikidata queries we need to convert MONDO in the backend, although it doesn't appear cowpox has any treatments in wikidata: https://www.wikidata.org/wiki/Q18964867, https://api.monarchinitiative.org/api/bioentity/disease/DOID:8956/treatment/

[2018-02-06 00:17] cmungall commented on #136
FWIW, that's the wd page for the virus, the disease page is here https://www.wikidata.org/wiki/Q1066011

But yes, it still lacks a treatment, and we need to fix the API here

[2018-02-06 01:13] jmcmurry commented on #136
Apologies; I'm missing the backstory here. Why is another ID space needed?

[2018-02-06 01:57] cmungall commented on #136
The query doesn't work with MONDO IDs.

[2018-02-12 23:30] putmantime commented on #9
This is needed for Monarch App to be able to use biolink.  Are there examples of calls that have pagination parameters?  I can't seem to find any

[2018-02-12 23:55] cmungall commented on #9
most have `rows` e.g. https://api.monarchinitiative.org/api/#!/bioentity/get_gene_disease_associations

I thought we also had `start`, but it should be easy to add, ontobio supports this already

[2018-02-20 21:03] cmungall opened #138 "Exposing relationship type in GO function queries"
For querying a gene by go term, we want to allow people to distinguish

 * genes involved in pathway
 * genes regulating pathway

As well as additional forthcoming relationship types

More generally, this would be useful for other kinds of associations too. For gene expression: genes expressed in X or part-of X vs X or part-of X or develops-from X.

Ideally this would be very generic and metadata

[2018-02-20 21:10] deepakunni3 commented on #135
@cmungall Testing with fixes made in branch `issue-135` yields proper result for this query.

Adding an example URL that uses **CHEBI:28748**:
https://api.monarchinitiative.org/api/bioentity/substance/CHEBI%3A28748/treats/?fetch_objects=true&rows=100

which gives three Disease Ontology IDs:

[code]

[2018-02-20 21:22] cmungall commented on #135
OK.

We should have this method return association objects rather than a list. Let me check with others what our strategy should be

[2018-02-20 22:02] cmungall commented on #138
To get regulates-only for now, do a subtraction (regulatesClosure MINUS isaPartOfClosure), until we have https://github.com/geneontology/amigo/pull/469

[2018-02-21 00:47] cmungall commented on #135
Given https://github.com/monarch-initiative/dipper/pull/562 we may best be waiting until it ingests

[2018-02-21 22:13] nathandunn opened #140 "console error and unresponsive resources"
[code]

[2018-02-21 22:16] nathandunn commented on #140
A mildly dirfferent error in dev:

    jquery-1.8.0.min.js:2 Uncaught Error: Syntax error, unrecognized expression: %2Fontology_get_dl_query_content

But the affect is the same as nothing beyond identifier/prefixes is found.

[2018-02-21 22:18] nathandunn commented on #140
Oddly, expanding ALL operations works fine.

[2018-02-22 15:48] putmantime opened #141 "GET /bioentity/<id>/associations only returning phenotype associations"
The below counts are the number and category of associations returned for each call with Marfan syndrome (MONDO:0007947) as the subject.  The category agnostic association calls are returning only phenotype associations (even though this disease has model and gene associations), and the bioentity/ endpoint calls are returning 1 less  than the association/ calls and direct solr queries used in the

[2018-02-22 19:08] cmungall commented on #141
@putmantime are you working on this? This may be an easier one for @deepakunni3 to start with

[2018-02-22 19:11] putmantime commented on #141
I am not working on the missing association categories issue.  I should have made a separate issue for the the truncated association lists caused by my last PR when I mistakenly used a default of 1 for the start parameter.  That has been fixed in my PR today, but I left the missing association categories alone.

[2018-02-22 23:21] putmantime opened #143 "Calls and return patterns needed for Monarch Application"
To drive the associations tables, it would be useful if Biolink followed the subject object predicate pattern in return objects.

For example:
/bioentity/disease/{curie}/phenotype returns the disease as the subject and phenotype as the object
/bioentity/disease/{curie}/gene however, returns the disease as the object and the gene as the subject
I realize this is a symptom of monarch unidirectional

[2018-02-23 00:08] cmungall commented on #143
Yes, I think the client should get things back the way it asks for them. E.g if it asks for X-to-Y, it doesn't get Y-to-X.

This could be done in the biolink-api level or the underlying ontobio code, or even pre-populated in solr.

We will either have to invert the relationship type OR extend the model to add a property that says the relation is inverted (formally this is the same as making an OWL

[2018-02-23 00:11] kshefchek commented on #143
Correct, if a relation is symmetrical we can index in both directions, eg

    (geneA)-[interacts_with]-(geneB)

As opposed to

    (geneA)-[interacts_with]->(geneB)

[2018-02-26 18:13] cmungall commented on #122
we have this in scigraph_util

[code]

the actual path we need is `has_part/{inheres_in|inheres_in_part_of}`.

Currently the traverse_chain method doesn't support for path expressions... nor should it! No sense reinventing cypher / sparql property paths here. We should just pass this in as a direct cypher query

@kshefchek and @deepakunni3 should we take the opportunity to go with BOLT? Or just do

[2018-02-26 20:31] kshefchek commented on #122
In the short term I think the only option is /cypher/execute until someone finishes https://github.com/SciGraph/SciGraph/pull/238

[2018-02-26 20:49] deepakunni3 commented on #122
@cmungall Do you want me to take a look at SciGraph/SciGraph#238?

It looks like the bulk of the work is done. The only thing pending is making it configurable.

@kshefchek Let me know if there is more to that PR than what I assume.

**EDIT:** nevermind, I misunderstood what was going on in that PR. Its still a WIP then.

[2018-02-27 00:31] kshefchek commented on #122
@deepakunni3 it might not be too much work, I keep meaning to take a closer look.

@cmungall do we aim to support complex owl restrictions, such as http://compbio.charite.de/hpoweb/showterm?id=HP:0012792? I'm not sure how this is translated in scigraph.

[2018-02-27 05:44] cmungall commented on #122
Hmm, I think I prefer it being outside the scope of SG and having ontologies produce pre-reasoned versions with shortcut relations connecting the phenotype directory with the a anatomy term.

But in the interim it may be easier to replicate the pattern in a path query

[2018-02-27 23:30] lhannest opened #145 "Sticky category filter"
The category filter is sticky, and I assume others are as well. Maybe data is being re-ordered each time a query is run? For example if you do these queries in this order:

`https://api.monarchinitiative.org/api/search/entity/diabetes?rows=1&start=1`
This returns a disease
`https://api.monarchinitiative.org/api/search/entity/diabetes?rows=1&start=1&category=gene`
This appropriately returns a gene.

[2018-02-27 23:34] cmungall commented on #145
hmm definitely undesirable. Can you try running the service locally and report what the solr calls are (on the log)

[2018-02-27 23:51] kshefchek commented on #145
This reminds me that @tudorgroza emailed the same issue and I meant to turn it into a ticket, from Tudor:

" the search is for some reason 'stateful'.  If I search for 'disease', all subsequent calls will return only disease, even if the category is not specified. If I change the category to 'gene', then again, all subsequent calls will return only genes. "

[2018-02-28 00:13] lhannest commented on #145
http://localhost:5000/api/search/entity/diabetes?rows=1&start=1
[code]
The entity returned is `HP:0005978` with category`Phenotype`.

http://localhost:5000/api/search/entity/diabetes?rows=1&start=1&category=gene
[code]
The entity returned is `MGI:99415` with category `gene`.

http://localhost:5000/api/search/entity/diabetes?rows=1&start=1
[code]
The entity returned is `MGI:99415` with category `ge

[2018-02-28 00:23] lhannest commented on #145
Yeah, it looks like the filter query is persisting somehow.

[2018-02-28 00:34] lhannest commented on #145
This is odd, I'm stepping through the code in entitysearch.py:

[code]
PuDB output:
[code]
But when stepping into the constructor, PuDB output:
[code]

[2018-02-28 00:41] cmungall commented on #145
ok, this is at the ontobio level

[code]

[2018-02-28 00:43] cmungall commented on #145
[code]

I assumed this makes a fresh empty dict each time but apparently not?

[2018-02-28 00:45] lhannest commented on #145
"Python’s default arguments are evaluated once when the function is defined, not each time the function is called (like it is in say, Ruby). This means that if you use a mutable default argument and mutate it, you will and have mutated that object for all future calls to the function as well."

http://docs.python-guide.org/en/latest/writing/gotchas/

I wouldn't have expected that!

[2018-02-28 02:08] balhoff commented on #145
😱

[2018-02-28 02:20] deepakunni3 commented on #145
Today I Learned! 🐍

[2018-03-05 21:53] deepakunni3 commented on #138
Keeping this issue open to revisit in the future after geneontology/amigo#469 has been implemented.

[2018-03-07 21:15] mellybelly opened #149 "where did the monarch biolink api go?"
https://api.monarchinitiative.org/
gives "Hello there"

[2018-03-07 21:16] cmungall commented on #149
let's have this resolve to a basic page with some links, including a link to https://api.monarchinitiative.org/api/

[2018-03-07 23:50] jmcmurry commented on #149
+1

[2018-03-08 00:44] selewis commented on #138
Super, I'll try it out for Hippo signaling.

[2018-03-16 18:50] deepakunni3 opened #152 "Add an endpoint to get disease definition or edit /bioentity/disease/{id} to include disease definition"
Requested by @pnrobinson

[2018-03-19 19:23] cbizon opened #153 "Gene->Pathway->Gene error?"
I call /bioentity/gene/{id}/pathways/ with id = HGNC:5013
This gives me a list of pathway identifiers.

I can then call /bioentity/pathway/{id}/genes with each pathway identifier, and I think I should get HGNC:5013 as one of the returned genes.

But for REACT:R-HSA-168256, HGNC:5013 doesn't appear to be one of the genes returned.

Is this an error, or is the situation more complicated than I thoug

[2018-03-19 21:39] nathandunn opened #154 "create a variant for genes route"
Should be similar to the other ones for gene:

GET /bioentity/gene/{id}/variants/

Also, if its not too hard to apply range queries, that would be cool, but definitely not necessary.

[2018-03-19 23:31] kshefchek commented on #153
I think "immune system" is associated with a large number of proteins and genes: https://reactome.org/PathwayBrowser/#/R-HSA-168256&DTAB=MT

If you up the result count or page over the data HMOX1 should be there, for example:
https://api.monarchinitiative.org/api/bioentity/pathway/REACT%3AR-HSA-168256/genes/?rows=3000&fetch_objects=true

[2018-03-19 23:39] cbizon commented on #153
Oh that makes sense. Thanks.

[2018-03-19 23:39] #153 closed, assigned to deepakunni3

[2018-03-20 00:04] kshefchek commented on #125
I believe this is covered here with:

but I will add the request that if a user enters an ID they should receive that ID in the response instead of the clique leader, unless they are not truly identical, for example, gene vs. protein.

cc @NuriaQueralt

[2018-03-20 16:43] putmantime opened #155 "numFound returns null"
numFound has not been implemented for any calls that I can see.  This would be useful for web development especially.

{
"associations": [...],
"compact_associations": null,
"objects": [...],
"facet_counts": {...},
"numFound": null,
"start": null,
"facet_pivot": null
}

[2018-03-20 20:21] kshefchek commented on #13
We can use the stats component to get the distinct count and total count without enumerating every subject/object if desired.

For example add the params to count objects:
stats=true&stats.field={!calcdistinct=true distinctValues=false count=true}object

https://lucene.apache.org/solr/guide/6_6/the-stats-component.html

This should work on pivot tables as well.

[2018-03-20 22:58] kshefchek commented on #13
Here is an example of using this on a pivot table (top level mondo ID):

https://solr.monarchinitiative.org/solr/golr/select/?defType=edismax&qt=standard&indent=on&wt=json&rows=0&start=0&fl=*,score&facet=true&facet.mincount=1&json.nl=arrarr&facet.limit=20&facet.method=enum&fq=object_closure:%22MONDO:0000001%22&q=*:*&stats=true&stats.field={!tag=piv1%20calcdistinct=true%20distinctValues=false}subje

[2018-03-21 00:09] cmungall opened #156 "Align association routes with biolink-model"
E.g. we have https://api.monarchinitiative.org/api/#!/bioentity/get_variant_phenotype_associations

but we lack this in https://biolink.github.io/biolink-model/docs/, so we should add to the yaml

for the converse, not every combination in the model needs a route. We will choose a certain level of granularity

[2018-03-21 00:22] cmungall commented on #156
hmm, looks like v2p not working

on the site we have: https://monarchinitiative.org/genotype/ZFIN:ZDB-ALT-010427-8

which has phenotypes

[2018-03-22 00:15] cmungall commented on #13
This is great

@deepakunni3 - note that we still use solr3 for go, I suspect that doesn't work here

[2018-03-22 21:00] nathandunn opened #157 "create route for Genome Features / Variants that aligns with current Apollo track / variant services"
- align gene, etc. https://github.com/biolink/biolink-api/blob/master/biolink/datamodel/serializers.py#L177-L224 . to correspond to Apollo web-services output (which should correspond to JBrowse, as well)
- add corresponding biolink api routes.
   -  /biotentity/gene/{id}/features
   -  /biotentity/gene/{location}/features   (location has organism, chromosome, min / max)
   -  /biotentity/variant/

[2018-03-22 23:48] nathandunn opened #158 "bioentityset/slimmer/function missing `reference` for GO annotations"
bioentityset/slimmer/function

Probably similar to the ontobio issue.

The call I use is:

    https://api.monarchinitiative.org/api/bioentityset/slimmer/function?&slim=GO:0003824&slim=GO:0004872&slim=GO:0005102&slim=GO:0005215&slim=GO:0005198&slim=GO:0008092&slim=GO:0003677&slim=GO:0003723&slim=GO:0001071&slim=GO:0036094&slim=GO:0046872&slim=GO:0030246&slim=GO:0003674&slim=GO:0008283&slim=GO:0071

[2018-03-28 00:02] deepakunni3 commented on #158
fixed via https://github.com/biolink/ontobio/pull/161 and https://github.com/biolink/ontobio/pull/162

[2018-03-28 00:02] #158 closed, assigned to nobody

[2018-03-28 19:46] deepakunni3 commented on #149
@cmungall Is this okay to merge?

[2018-03-28 19:49] #149 closed, assigned to deepakunni3

[2018-03-28 19:51] kshefchek commented on #149
https://api-dev.monarchinitiative.org/

[2018-03-29 18:48] deepakunni3 commented on #154
@nathandunn Moving the requirement for range queries into a new issue: https://github.com/biolink/biolink-api/issues/162

[2018-03-29 18:55] deepakunni3 opened #162 "Add endpoints that allow range queries to get genes and variants from Monarch"
@nathandunn Feel free to add more information about how these endpoints should look like.

[2018-03-29 23:00] deepakunni3 commented on #155
It looks like this issue is coming from Ontobio, where we use PySolr to query and parse the response from Solr.

PySolr parses the response and interprets `numFound` as `hits`. While the `raw_response` still contains `numFound`, the actual property to access would be `results.hits`.

[2018-04-02 22:13] NuriaQueralt opened #163 "no output and errors arose from biolink::association/{from,then} endpoint calls, and equivalent ids problems."
Dear Monarch team,
This is Núria Queralt Rosinach from Andrew Su Lab. i am using the 'association/from' and 'association/to' endpoints, both from biolink. On March 14th, i resent two calls i had sent on the first of march, and the output was very different. i perform these api calls embedded in a script that retrieves connections from Monarch. i sent the exact runs without changing anything in my

[2018-04-05 17:37] putmantime commented on #143
Any updates on when some of these will be implemented?  I could take on some high priority ones myself if they aren't being worked on already.

[2018-04-05 20:31] deepakunni3 commented on #157
@nathandunn

Proposed endpoints:

- `/apollo/{organism}/{track_name}/gene/{id}` - query based on gene uniquename
- `/apollo/{organism}/{track_name}/transcript/{id}` - query based on transcript uniquename
- `/apollo/{organism}/{track_name}/variant/{id}`- query based on variant name (perhaps rsID?). But this will be too prohibitive since querying for a variant by ID from a VCF can take a long time.

[2018-04-05 20:49] nathandunn commented on #157
@deepakunni3  I see.  I'm wondering if we should call `/apollo/` -> `/genome-feature/`.  In theory anything could provide that end-point.

Otherwise, I think this is good.  Also, how would you specify organism or can we assume global uniqueness?

[2018-04-05 21:08] deepakunni3 commented on #157
I just updated the above endpoints.

There is already a `genome/features` namespace. I'll check with @cmungall and see if we can add it there.

[2018-04-05 21:35] nathandunn commented on #157
I think the original plan was to have me update those end-points to more closely reflect Apollo.

One additional thought is that I think you also need to have the track name, as well (or have it choose a default track if none are provided, or lookup tracks, etc.) as genes may be reproduced multiple times on differing tracks.

[2018-04-05 21:46] deepakunni3 commented on #157
@nathandunn Had a brief discussion with @cmungall

Yes, a configurable default set of tracks would make sense if no track name is provided.
Also, we should add an endpoint in Apollo for getting all available tracks for an organism which biolink-api can use to query (i.e. look up tracks, like you suggested).
Perhaps the response JSON from biolink-api can contain the track metadata to signify from w

[2018-04-05 22:29] nathandunn commented on #157
@deepakunni3  added the PR

[2018-04-08 20:12] lhannest opened #164 "GET /search/entity/{term} fails"
Just noticed this endpoint seems to not be working:
https://api.monarchinitiative.org/api/search/entity/diabetes?rows=20&start=1

Response:

[code]

I'm pretty sure this was working yesterday.

If you give it a category filter then it gives a non-empty response, but now the `rows` parameter isn't working:

https://api.monarchinitiative.org/api/search/entity/diabetes?rows=20&category=gene&start=1&r

[2018-04-08 22:37] kshefchek commented on #164
I have my search and autocomplete PR up on a temporary server if you're interested in testing if it fixes your issues, https://github.com/biolink/biolink-api/pull/148
https://github.com/biolink/ontobio/pull/152
temp server: https://owlsim.monarchinitiative.org/api/#!/search/get_search_entities

This is now searching over every node in the monarch graph, but there are some issues with variant and g

[2018-04-08 22:45] kshefchek commented on #164
The rows param on production seems okay:
https://api.monarchinitiative.org/api/search/entity/diabetes?category=gene&start=1&rows=1
Returns 1 row
https://api.monarchinitiative.org/api/search/entity/diabetes?category=gene&start=1&rows=20
Returns 20 rows

Also to get the first result start should be 0, I have made this the default in my pr.

[2018-04-09 23:05] realmarcin opened #165 "allow to query by relationship type and return relationship type"
I have been using this call to retrieve disease-phenotype associations from Monarch:

with urllib.request.urlopen("https://api.monarchinitiative.org/api/mart/disease/phenotype/NCBITaxon%3A9606") as url:
    disease_phenotype_data.append(json.loads(url.read().decode()))

It appears that there is no way to retrieve based on specified relationships and also the query result does not contain the relat

[2018-04-09 23:06] deepakunni3 commented on #165
After discussion with @realmarcin, it would be also good to include disease labels in the response.

[2018-04-10 00:38] cmungall commented on #165
We can add an additional filter for relationship type. But for now you can treat these as a uniform relation 'has phenotype'

[2018-04-12 23:58] nathandunn opened #166 "provide an argument to include IEA assertions for the slimmer/function"

[2018-04-17 00:53] #166 closed, assigned to deepakunni3

[2018-04-17 22:57] cmungall opened #168 "Should /$type/<id> return basic node info, or all associations"
API is not consistent at the moment

## Option 1

 * `/$type/<id>` returns basic node properties (and potentially HAL-type links to other API calls)
 * `/$type/<id>/all` can be used to to fetch node + assocs if required

## Option 2

 * `/$type/<id>` returns node + assocs
 * `/$type/<id>/info` returns basic node properties

[2018-04-17 22:58] cmungall commented on #168
I favor option 1. Lends itself better to asyn calls to populate different parts of page etc

[2018-04-18 01:44] kshefchek commented on #168
for /$type/<id>, it might be useful to return basic node properties and stats on associations, but think all associations should be a different function

[2018-04-18 18:31] deepakunni3 commented on #168
@kshefchek Do you mean something like this:

[code]

[2018-04-18 18:44] kshefchek commented on #168
yes exactly, we may also consider associations over homology (disease, phenotype) as well, but would require more computation.  There might be a trade off on performance and comprehensiveness.

[2018-04-18 19:20] deepakunni3 commented on #168
Even if its association stats, the number of queries to SciGraph and/or Solr remains the same. The difference is only in the way the results are parsed and sent back.

[2018-04-18 23:45] NuriaQueralt commented on #163
hi team,

I checked this 'KeyError' error out and it come from a change in Monarch schema: the attribute field 'description' seems to be withdrawn from the data structure. Is there any documentation to detect this database changes that consequently affect downstream pipelines? Many thanks in advance!

Having this fixed in my library solved the problem.  But, now i am facing the fact that the objec

[2018-04-18 23:45] #163 closed, assigned to nobody

[2018-04-21 21:53] cbizon opened #171 "/gene/{id}/function relationship identifiers"
For most results, the relation returned has a null id and label.

But every once in a while, "contributes_to" comes back in the relation id.

It would be nicer if all of these relations had (non-null) identifiers, and contributes_to moved into the label.

[2018-04-24 21:01] realmarcin opened #172 "create API method to return propagated parents terms for a given term"
Something along these lines is done within the pair entity similarity method:

https://api.monarchinitiative.org/api/#!/pair%2Fsim/get_pair_sim_jaccard_resource

however there is no standalone call in biolink API.

[2018-04-24 21:23] #152 closed, assigned to deepakunni3

[2018-04-24 23:56] kshefchek commented on #172
scigraph neighbors is always an option, eg https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors?id=HP%3A0000460&depth=50&blankNodes=false&relationshipType=subClassOf&direction=OUTGOING&entail=false

edit: remember now equivalence is an issue

[2018-05-02 16:59] #155 closed, assigned to deepakunni3

[2018-05-02 22:32] #172 closed, assigned to deepakunni3

[2018-05-04 23:25] kshefchek opened #176 "Add /function/{id}/gene"
Given a GO term, return related genes

Requested by @cbizon

[2018-05-07 17:35] cmungall opened #177 "Add disease to GO linkages"
Currently we have curated links in MONDO between disease and GO; generally conservative and "obvious". E.g.

[code]

These are queryable via SciGraph

e.g.

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/MONDO%3A0019053?depth=1&blankNodes=false&direction=BOTH&entail=false

but entailment isn't used. i.e Zellweger syndrome type 1 does not have a direct link, it's inherited

[2018-05-07 21:36] lhannest opened #178 "Case sensitive /bioentity/{id} search"
The endpoint returns with Internal Server Error if the CURIE prefix is not the right case. The following works:
https://api.monarchinitiative.org/api/bioentity/NCBIGene:415854
https://owlsim.monarchinitiative.org/api/bioentity/NCBIGene:415854
But this does not work:
https://api.monarchinitiative.org/api/bioentity/NCBIGENE:415854
https://api.monarchinitiative.org/api/bioentity/ncbigene:415854
https

[2018-05-08 23:25] deepakunni3 commented on #176
@kshefchek The `/bioentity/goterm/<id>/genes/` call takes a GO term as input and returns genes associated with that term. The call also requires a `relationship_type` argument which can have one of three values:
- `involved_in`
- `involved_in_regulation_of`
- `acts_upstream_of_or_within`

Wouldn't this call satisfy the above requirement?

@cmungall Let me know if I missed something

[2018-05-09 11:44] cbizon commented on #176
This does look good!   I think I had seen this at some point in the past, but never got it to work because I did not realize that relationship_type was required.

[2018-05-09 15:53] deepakunni3 commented on #176
@cbizon Great!

Yes, the `relationship_type` argument was a recent addition to that call.

[2018-05-10 21:09] realmarcin opened #179 "/subgraph/<ontology>/<node> call gives error (due to url length?)"
There are three different cases here.

One case is from within jupyter notebook using url request:

HTTPError: HTTP Error 400: Bad Request

Second is from browser - this worked with no error.

Third is from a python script using url request:
urllib.error.HTTPError: HTTP Error 400: Bad Request

Given that the pure browser case works there may be some limitations on the urllib library?

An example '

[2018-05-29 12:57] cbizon opened #180 "500 for unrecognized gene in gene/{id}/function"
gene/{id}/function throws a 500 for some identifiers, presumably if it can't find a function.

It does ok with:
HGNC:8859
UniProtKB:Q7Z4Y8

But throws a 500 for:
HGNC:885999  (made up)
UniProtKB:Q8W8E1 (real identifier, but I guess no data?)

Presumably this should return a good response with no entries.

[2018-05-30 22:43] cmungall opened #182 "register with smartAPI"
See https://github.com/dcppc/data-stewards/issues/5 - we are in the same position as the gtex people as we don't hand edit the yaml, it is generated from annotations and we are using a framework that supports openapiv2

I think these steps will work:

Write a build/makefile step that will take
https://api.monarchinitiative.org/api/swagger.json

Use https://www.npmjs.com/package/api-spec-converter

[2018-06-06 20:48] cmungall opened #183 "Add extract ontology subset operation"
This would be analogous to what can be done on the command line with robot https://github.com/ontodev/robot/issues/302

but here we can compose with annotations; e.g. extract the ontology subset that corresponds to all mouse annotations.

[2018-06-08 20:31] selewis opened #184 "Discrepancies in results for HP and GO (same slim query)"
For GO/GOlr the results contain this:
reference: [
"MGI:MGI:5299957",
"PMID:22031545"
]

For HP/Monarch the results contain this:
publications: [
{
id: "PMID:103464"
},
{
id: "PMID:19563798"
},
{
id: "PMID:4972360"
},
{
id: "PMID:3794606"
}
]
So, for the same type of information there are two differences
1. reference versus publications
2. simple array versus array of maps

Needs to be done in jus

[2018-06-15 17:44] putmantime opened #185 "Pathway calls are returning 500"
Tried disease and gene pathway calls and got server errors

[2018-07-03 16:08] cmungall opened #186 "disease/phenotypes route failing"
E.g.

`curl -X GET "https://api.monarchinitiative.org/api/bioentity/disease/DOID%3A9352/phenotypes/?rows=100&exclude_automatic_assertions=false&fetch_objects=true&use_compact_associations=false" -H "accept: application/json”`

[2018-07-03 23:25] deepakunni3 commented on #186
While trying this query with a local instance of biolink-api yields the following error:
[code]

It looks like when `fetch_objects=true`, GolrAssociationQuery fires a second Golr query.
Somehow the results from this query does not have `facets` or `oq_results.facets` is empty.

@kshefchek Any idea what might be causing this?

Following are the params sent in the second Golr query:
[code]

[2018-07-03 23:35] selewis opened #187 "Empty pheno results from biolink"
This query for HGNC:14294 returns an empty array, but the query itself works using MGI:97490 so it's not the slim query itself. Plus in Monarch 83 phenotypes are listed.(https://monarchinitiative.org/gene/HGNC:14294#phenotypes)

https://api.monarchinitiative.org/api/bioentityset/slimmer/phenotype?&slim=HP:0025461&slim=HP:0001881&slim=HP:0020047&slim=HP:0001872&slim=HP:0001977&slim=HP:0005561&slim=

[2018-07-03 23:36] deepakunni3 commented on #184
@cmungall Does this have to do with differences in the way evidence is modeled between GO and Monarch? i.e. https://github.com/biolink/ontobio/issues/126

[2018-07-03 23:39] deepakunni3 commented on #186
Majority of the calls are now failing at that exact same spot in `GolrAssociationQuery`.

[2018-07-05 22:52] deepakunni3 commented on #186
After discussing with @kshefchek , it looks like a change in one of the dependencies, Flask-RESTPlus from `v1.10.1` to `v1.11`, seemed to exacerbate a previously existing upstream bug.

In https://github.com/biolink/biolink-api/blob/master/biolink/api/bio/endpoints/bioentity.py#L26

`type=bool` is always interpreted as `True`.

Flask RESTPlus provides types for handling such boolean parameters: `t

[2018-07-05 23:11] #186 closed, assigned to deepakunni3

[2018-07-06 16:55] deepakunni3 opened #190 "disease/<id>/variants returns no results"
The following URL:
https://api.monarchinitiative.org/api/bioentity/disease/MONDO:0007947/variants/?fetch_objects=true&rows=1000

should return 431 variants similar to those displayed at:
https://monarchinitiative.org/disease/MONDO:0007947#variants

[2018-07-08 20:12] cmungall opened #191 "Generic /association/find route returning 500"
https://api.monarchinitiative.org/api/association/find/?rows=0

[2018-07-09 22:24] deepakunni3 commented on #191
@cmungall The issue here is that the connection times out:

[code]

5 seconds seems insufficient for Monarch Solr to respond to the request sent by this call.
Since this is a configurable property, perhaps we can change the timeout to 10 seconds in the `config.yaml`.

[2018-07-09 22:39] cmungall commented on #191
that's odd, I think rather than increasing the timeout we should explore why a basic query like this takes so long. We do similar things with the GO one all the time

E.g. the call underlying this should be pretty much the same:
http://amigo.geneontology.org/amigo/search/annotation

cc @kltm

[2018-07-09 22:41] kltm commented on #191
I'd first check used memory versus size of store on the machine.
If you can skype me the underlying machine name, I can check myself.

[2018-07-09 23:29] kltm commented on #191
Okay, I took a quick look at this. Some notes:

* the solr index more-or-less given 30G
  * I'm not sure if the heap allocation in java will allocate more, but it may well
* the machine has had some swapping history
  * `free -m`
* the machine is using a rotational disk
  * `cat /sys/block/sr0/queue/rotational`
* the index is well north of 250G
* load is low

Given all of this, my best guess is th

[2018-07-09 23:30] kltm commented on #191
Tagging @kshefchek

[2018-07-10 00:34] #187 closed, assigned to deepakunni3

[2018-07-10 00:34] #190 closed, assigned to nobody

[2018-07-10 02:40] cmungall commented on #191
There is something fishy here. I have queried the monarch solr directly
many times and it's fairly responsive, not sure why the basic fetch all
documents query would be so slow, it's possible the code is constructing
an ultra-dumb query, maybe it's retrieving every single facet value for
counts..?

[2018-07-10 05:30] deepakunni3 commented on #182
Currently our swagger JSON is Swagger 2.0, which is generated by Flask-RESTPlus.
But there are some issues with the generated JSON where it fails validation. Minor issues here and there, but it gets in the way of using the swagger JSON with SmartAPI and also converting the JSON from Swagger 2.0 to OASv3.0.

**Note to self:** Investigate into alternatives to Flask-RESTPlus, that generates OASv3.0 a

[2018-07-10 05:41] deepakunni3 commented on #191
Here is the query generated by BioLink-API/Ontobio:
https://solr.monarchinitiative.org/solr/golr/select/?q=*:*&facet=on&facet.field=subject_taxon_label&facet.field=object_closure&facet.limit=25&facet.mincount=1&fl=id,is_defined_by,source,subject,subject_label,subject_taxon,subject_taxon_label,relation,relation_label,object,object_label,object_taxon,object_taxon_label,evidence_object,evidence_graph

[2018-07-10 15:27] cmungall commented on #191
The object closure is generally required if we want to allow faceted browsing on the object (HPO term, GO term, ...). (although at the moment the default upper level terms are too broad to be interesting).

This gives us something more to go on though. The corresponding amigo query includes the equivalent isa_partof_closure. Tweaking one of the solr params related to facets may give more info.

Th

[2018-07-10 17:36] kltm commented on #191
It's good to have a test case; it's worrying that it works every time--that should be getting cached.
I would note that looking at the above query running on the machine, it seems to peg a couple of CPUs for the duration of the query, but little I/O activity (that I've found so far).

I would still start poking the memory settings here--no matter what, history of swapping would indicate a problem.

[2018-07-10 18:46] deepakunni3 commented on #191
Yes, thats what made me wonder if its useful to have `object_closure` facet field. But it definitely makes sense to have in in there, by default, since that would be the expectation for this call.

[2018-07-10 22:16] deepakunni3 commented on #185
This should be fixed when Ontobio 1.1.5 is released and api.monarchinitiative.org is updated to use this version.

[2018-07-10 23:42] #176 closed, assigned to nobody

[2018-07-10 23:43] kltm opened #193 "Possible concept leak between Monarch and GO Solr concepts (query for fields that don't exist)"
While doing some other poking in the logs, I noticed this coming from what I assume is the monarch webapp/biolink getter:

137.53.238.95 - - [10/Jul/2018:14:50:19 -0700] "GET /solr/select/?facet.limit=25&fl=id%2Cassigned_by%2Csource%2Cbioentity%2Cbioentity_label%2Ctaxon%2Ctaxon_label%2Cqualifier%2Crelation_label%2Cannotation_class%2Cannotation_class_label%2Cobject_taxon%2Cobject_taxon_label%2Cevid

[2018-07-10 23:52] deepakunni3 commented on #164
@kshefchek @lhannest Is this issue resolved?

[2018-07-10 23:56] #154 closed, assigned to deepakunni3

[2018-07-10 23:57] deepakunni3 commented on #143
All new calls should be working once Ontobio 1.1.5 is deployed with api.monarchinitiative.org

[2018-07-10 23:57] #143 closed, assigned to deepakunni3

[2018-07-11 00:02] deepakunni3 commented on #140
@nathandunn The new Swagger UI doesn't seem to demonstrate this problem. Let me know if there is some odd behavior still left behind.

[2018-07-11 00:07] #9 closed, assigned to nobody

[2018-07-11 02:23] nathandunn commented on #140
Yes.   Looks good.  Was going to complain about animations, but I don't think they have it fixed yet:  https://github.com/swagger-api/swagger-ui/issues/4321

[2018-07-11 02:23] #140 closed, assigned to nobody

[2018-07-17 16:57] nathandunn opened #194 "biolink api doesn't provide an anchor link anymore"
From here:   https://api.monarchinitiative.org/api/

In the olden days I used to be to click and the API would change:

https://api.monarchinitiative.org/api/#apiCallIjustClickedOn

Would be great.  I think you just have to reconfigure it so ```deepLinking=true```

https://github.com/swagger-api/swagger-ui/issues/2884

[2018-07-18 19:35] nathandunn commented on #194
pinging @deepakunni3  / @kshefchek / @cmungall

Maybe the next time the biolink server is updated this could be switched on?    Looks like its just a simple configuration.

I use biolink for a lot of references, so this would be very handy to have again.

[2018-07-18 20:17] deepakunni3 commented on #194
@nathandunn Will look into this soon.

This happened as a result of updating one of the biolink-api dependencies, Flask-RESTPlus, which generates the Swagger JSON and UI.

[2018-07-19 19:08] deepakunni3 commented on #194
@nathandunn Digging around a bit, and looking at the linked issue, you can enable anchor links as follows:

https://api.monarchinitiative.org/api?deepLinking=true#apiCallIjustClickedOn

Ex:
http://api.monarchinitiative.org/api?deepLinking=true#/bioentity/get_disease_pathway_associations

An extra bit of step. Ideally deepLinking should be `true` by default in Swagger-UI but thats not the case.

[2018-07-19 19:11] nathandunn commented on #194
That works for me:

https://api.monarchinitiative.org/api/?deepLinking=true#/bioentity/get_gene_expression_associations

[2018-07-19 19:11] #194 closed, assigned to nobody

[2018-07-19 21:20] #60 closed, assigned to kshefchek

[2018-07-19 21:20] deepakunni3 commented on #8
@kshefchek Can we close this? It looks like this call does have the required homology type enums.

[2018-07-19 21:21] deepakunni3 commented on #162
Related to https://github.com/biolink/biolink-api/issues/26

[2018-07-19 21:23] deepakunni3 commented on #30
We are using the latest Flask-RESTPlus version 0.11

[2018-07-19 21:23] #30 closed, assigned to nobody

[2018-07-19 22:22] #57 closed, assigned to nobody

[2018-07-19 23:42] selewis commented on #193
Is this related to this issue? Discrepancies in results for HP and GO (same slim query) #184
where the conflicting fields are publication vs. reference

[2018-07-20 18:33] #131 closed, assigned to nobody

[2018-07-21 01:04] tmushayahama opened #198 "Consistency in the API design"
Without getting into style guides and any API design patterns (opinionated things). Whatever design you pick, it should be a consistent API design across all APIs. This will be really helpful to developers consuming it..

There should be a clear definition of resources being exposed by the endpoint (one model or many models etc) like nouns and preferably not verbs (as http verbs cover that). Jumpi

[2018-07-26 21:11] cmungall opened #200 "Add a parameter to /prefixes/ routes to include additional json-ld contexts"
This should pass down to the curie_util library, pass in the name of a biocontext file (e.g. `idot` for identifiers.org)

[2018-07-26 21:12] cmungall commented on #200
Eg. https://api.monarchinitiative.org/api/identifier/prefixes?provider=idot

[2018-07-27 23:40] deepakunni3 opened #201 "bioentityset/slimmer/function should provide a relationship_type argument to determine which closure to use"
Currently the GOlr query made by `bioentityset/slimmer/function` call is different in comparison to its analogous AmiGO query.

`bioentityset/slimmer/function` call is operating over `isa_partof_closure` instead of  `regulates_closure`.

The solution would be to provide a `relationship_type` argument for this call, similar to the `bioentity/goterm/{id}/genes/` call, where the `relationship_type` w

[2018-07-28 17:42] cmungall opened #202 "Add mart route for fetching all entities of a given type for a species"
E.g. `/all/gene/NCBITaxon:9606`

This would *not* include all associations for each entity, just the core entities with synonyms, xrefs/equivs, etc

The implementation would use the in_taxon object. We would constrain to leaf taxon IDs to prevent massive downloads.

For entities such as diseases, anatomical structures, GO classes, we would use taxon constraints - focus on this in 2nd pass...

[2018-07-30 21:46] kltm opened #203 "The "graph" path does not currently seem to function"
While there does seem to be implementing (SciGraph) code underneath, the "graph" path does not currently seem to function.

Using the example in the swagger:
[code]
returns a 500 internal error.

[2018-07-31 18:15] deepakunni3 commented on #201
Adding comments from https://github.com/biolink/ontobio/pull/212,

[2018-07-31 19:36] #201 closed, assigned to deepakunni3

[2018-08-03 19:52] selewis opened #206 "Need functions for determining term-to-term relatedness"
Annotations vary considerably in precision, but for conciseness and to determine coverage, we need to be able to answer basic graph traversal questions. For example, given two terms is one of them a subclass of the other? Or what is the closest common parent term of two terms. Right now this functionality is missing and we're dealing with work-arounds or it's completely holding things up.

[2018-08-03 20:17] lpalbou commented on #206
Hi Suzy,

A partial solution to your problem is:
https://api.geneontology.cloud/go/GO_0060070/hierarchy which indicates both
the parents & children of one GO term (not two).
I plan also to make a more general one /relationship to explore all other
term-to-term relatedness, but I could also create a path where you could
ask the same question with two GO terms instead of one.

And I am finishing the

[2018-08-03 20:26] selewis commented on #206
Quite nice, but doesn't really quite fit the bill yet. You would still have to traverse the graph in this JSON structure to answer the simple t/f question of 'is A a subclass of B' or conversely 'is B a subclass of A'. Plus would also be useful to have 'what is the closest parental term shared by A and B'. Burying all of the repetitive traversal stuff down inside the server code.

Be great to have

[2018-08-03 20:47] lpalbou commented on #206
Correct, this query is for general purpose but I should be able to create the two specific queries you mentioned by next week.

[2018-08-03 21:06] selewis commented on #206
Is this just is_a relations?

Also need to know if a term is flagged as 'do_not_manually_annotate' or 'do_not_annotate'

[2018-08-03 21:11] selewis commented on #206
In Biolink?

On Fri, Aug 3, 2018 at 1:47 PM lpalbou <notifications@github.com> wrote:

[2018-08-03 21:16] deepakunni3 commented on #206
@selewis Yes, @lpalbou and I had a quick chat.

We can add couple of routes to biolink-api that gives a more direct answer as opposed to the JSON graph normally returned.

[2018-08-06 20:29] deepakunni3 commented on #185
This should be working now.

[2018-08-06 20:29] #185 closed, assigned to nobody

[2018-08-07 16:10] nathandunn opened #207 "ribbon / slimmer: gene lookup for UniProtKB IDs should grab human genes"
https://github.com/geneontology/ribbon/issues/47

[2018-08-07 16:20] nathandunn opened #208 "ribbon / slimmer function: add gene symbol for display in with column"
https://github.com/geneontology/ribbon/issues/46

[2018-08-07 16:37] nathandunn opened #209 "ribbon / slimmer function: "evidence_with" should include - label, id, and taxon - for each entry"
not sure how doable this is within biolink: https://github.com/geneontology/ribbon/issues/50

[2018-08-07 16:44] nathandunn commented on #201
@deepakunni3   Has this made its way into production?

[2018-08-07 16:44] nathandunn commented on #201
https://agr-jira.atlassian.net/browse/AGR-1108

[2018-08-07 17:41] deepakunni3 commented on #201
@nathandunn The production BioLink API is still due an update.

[2018-08-07 18:19] deepakunni3 commented on #201
@nathandunn The changes should be live now.

[2018-08-16 18:32] cmungall opened #210 "Additional routes required for homolog calls"
See https://docs.google.com/document/d/1xa7-vgJUvkjJ3Qw_-Z1AH3SW1PZnyfohu_jnTUqVQng/edit

 * [x] all homologs between two species (do as a MART route? Distinct from #202) `/mart/ortholog/{taxon}/{taxon}/`and `/mart/paralog/{taxon}/{taxon}/`
 * [ ] additional routes for obtaining metadata
    * what methods

Note the mart routes are for bulk download - no pagination or facets.

For pageinated/facet

[2018-08-16 18:36] cmungall opened #211 "Add relationship param to association queries"
`/association/find/{subject_category}/{object_category}/`

should allow filtering by relationship type

[2018-08-17 14:31] cbizon opened #212 "Mappings in gene/{id}/function"
KIT has the following identifiers:
HGNC:6342
NCBIGene:3815
UniProtKB:P10721 (for the protein)

/gene/{id}/function gives a bunch of results for the UniProtKB identifier, but none for the HGNC or NCBIGene identifiers.

[2018-08-20 21:02] lpalbou commented on #206
@selewis sorry, I am a bit late on this but I have deployed a route this morning to answer your first question:

[http://api.geneontology.cloud/association/subclass/{goid1}/{goid2}](
http://api.geneontology.cloud/association/subclass/GO:0030182/GO:0048856)
=> return true if and only if **goid1** `is_a` or `part_of` **goid2** (the question is oriented)

I have also deployed a sharedclass route:
[ht

[2018-08-20 21:14] selewis commented on #206
Be nice if the first one would provide a way to indicate which relationships to follow. Like Deepak (I think) did for the slimmer code.

For the second, yes return all of them. If possible it would be useful to know the route taken to get there for each of the two children.

[2018-08-20 21:55] lpalbou commented on #206
@selewis I also saw your question about 'do_not_manually_annotate' or 'do_not_annotate' tags. There is no specific route for this question only, but you can see if those tags are present in the subsets section of this general go-term query: [https://api.geneontology.cloud/go/GO_0036288](https://api.geneontology.cloud/go/GO_0036288)

(will be available on BioLink when PRs merged)

[2018-08-21 00:19] #211 closed, assigned to nobody

[2018-08-21 06:03] lpalbou commented on #206
@selewis I have updated the API to be more consistent with BioLink syntax and to determine if two terms are related for any of `is_a`, `part_of` or `regulates` relationships:

* **goid1** `is_a` **goid2**:
[https://api.geneontology.cloud/association/between/{goid1}/{goid2}?relation=isa](
https://api.geneontology.cloud/association/between/GO:0030182/GO:0048856?relation=isa)

* **goid1** `is_a` or `

[2018-08-27 23:31] deepakunni3 commented on #209
@nathandunn Allele IDs to allele symbols? Is there an example? I don't think I have access to view the JIRA ticket.

[2018-08-27 23:31] deepakunni3 commented on #208
Would it be possible to add more details from the JIRA ticket?

[2018-08-27 23:36] deepakunni3 commented on #207
Can you add more information about this issue. Is the idea to add a new call to BioLink API?

[2018-08-27 23:39] #203 closed, assigned to nobody

[2018-08-28 03:53] nathandunn commented on #209
@deepakunni3  The ticket is here: https://agr-jira.atlassian.net/browse/AGR-1097

You should be able to register, but I'll paste it to save time:

[2018-08-28 03:57] nathandunn commented on #208
I think that's it ;) .

Basically everything in the `with` or `Based on` table, but especially genes should be translated to the appropriate symbol.  From here: https://www.alliancegenome.org/gene/RGD:620615

<img width="925" alt="screen shot 2018-08-27 at 10 55 47 pm" src="https://user-images.githubusercontent.com/751274/44699995-6562a480-aa4c-11e8-95e8-9b5544b2caff.png">

[2018-08-28 03:58] nathandunn commented on #208
If the symbol is available, could just be provided an another field (and name if it is there, though I can't imagine it would be used).

[2018-08-28 17:16] selewis commented on #207
No, it's a matter of what kind of entity is being referred to, the "gene" is a kind of entity that is thing made of nucleic acid - from it is derived (translated) a "protein" entity a thing made of amino acids.
Colloquially they are often used interchangeably. For protein coding genes there should be at least one corresponding protein.

In GO some groups (MODs mostly) annotate to genes, but UniPro

[2018-08-28 17:29] selewis commented on #209
Are these really allele IDs? If they are in the GO tables, they are definitely -NOT- allele IDs, they are gene IDs (because that is what GO annotates to).

Basically it's about what is being returned in the response. Right now in the JSON field being returned labeled "evidence_with" there is just a simple list of ids. It would be be preferred if each entry in this "evidence_with" list looked simil

[2018-08-28 17:32] selewis commented on #208
This is the same as #209 (it's NOT allele IDs). Here's the answer:

Basically it's about what is being returned in the response. Right now in the JSON field being returned labeled "evidence_with" there is just a simple list of ids. It would be be preferred if each entry in this "evidence_with" list looked similar to the "subject" entry and included - label, id, and taxon - for each entry.

[2018-08-28 17:42] selewis commented on #207
Of course they return protein IDs for other species, because they annotated all sorts of creatures and plants. As I said, we just need to map from the HGNC gene ID (which the user enters) to the corresponding protein ID (for human) to get the annotations, and then restore the HGNC id used in the query.

For the based on (aka with, aka evidence_with) we don't know ahead of time whether the protein

[2018-08-28 18:19] nathandunn commented on #209
@selewis  I think the original case reported MGI alleles.  But I think that your point is still valid and would be good to expand this if possible.

[2018-08-28 18:26] nathandunn commented on #207
Deleted my comment.   I couldn't recollect the exact bug.  Thanks for the clarification @selewis

[2018-08-29 17:50] deepakunni3 opened #217 "graph/edges/from and graph/node/id are similar in implementation"
- `graph/edges/from`
- `graph/node/id`

These two routes yield the same amount of information. Perhaps it makes sense to drop one in favor of the other.

Also, need to add additional parameters to change what information is returned.
- `include_descendants`
- `include_closure`
- `include_equivalent_class`

By default all these will be `true` to allow for backward compatibility but they can be conf

[2018-08-29 18:44] deepakunni3 commented on #141
The `/bioentity/<id>/associations` call only fetches associations with `has_phenotypes` because of the way this call is implemented.

Right now its querying for associations where `MONDO:0007947` is the subject with anything else as the object. Since Monarch Solr was loaded with just [disease-phenotype](https://github.com/monarch-initiative/monarch-cypher-queries/blob/master/src/main/cypher/golr-l

[2018-09-04 22:40] deepakunni3 opened #220 "Include more upstream information in logging to aid while analyzing logs"
Include more upstream information to facilitate analysis of logs and study traffic.

This might require changes on the ontobio side as well. Will update with more information as we move forward.

@kltm Feel free to add more information and what you would like to see in the logs.

[2018-09-04 22:45] kltm commented on #220
Thank you @deepakunni3 !

I think things that might be of interest would be:

* calling route
* IP address
* user agent

As it stands right now, one must try and match entries in nginx and monarch-api, which have very different ideas of logging (e.g. one line per call vs. debug stream). It may be good to just have a high-level summary line for each call in the monarch app, and some method of tryin

[2018-09-05 21:52] #207 closed, assigned to nobody

[2018-09-05 21:54] selewis commented on #208
Same as #209 so closing

[2018-09-05 21:54] #208 closed, assigned to nobody

[2018-09-10 03:48] deepakunni3 commented on #179
The limitation here is brought by gunicorn, where the max URL length is `4094`.
The URL length restriction can be changed to allow for longer URLs, but wouldn't it make more sense to fire a POST request instead of a GET?

Or should we provide both a GET and a POST method for the same route?

[2018-09-10 17:21] lpalbou opened #222 "/ontol/ -> /ontology/"
Following last week discussion on GO endpoints in BioLink:

1. can I remove the /ontol/testme/{ontology} path (should not be there anyway)

2. we discussed the creation of some routes in /ontology/, can I change /ontol/ to /ontology/ for the two existing routes:
* /ontol/subgraph/{ontology}/{node}
* /ontol/information_contact/{subject_category}/{object_category}/{subject_taxon}

If you think it wi

[2018-09-10 22:30] nathandunn opened #223 "wire nlp/annotate to scigraph service"
nlp/annotate doesn't seem to connect properly to backend [example](https://api.monarchinitiative.org/api/nlp/annotate/Searching%20for%20prospective%20vanadium-based%20agents%20against%20Trypanosoma%20cruzi%2C%20the%20parasite%20causing%20Chagas%20disease%2C%20four%20new%20%5BVVO(8HQ-H)(L-2H)%5D%20compounds%2C%20where%208HQ%20is%208-hydroxyquinoline%20and%20L%20are%20tridentate%20salicylaldehyde%20

[2018-09-10 22:30] nathandunn commented on #223
Should probably be a POST instead of a GET.

[2018-09-10 22:45] kltm commented on #179
GETs are easier to play with, POSTs work better in real life. Where possible, I try and provide both with the same functionality (although HTTP/REST purists would likely disagree).

[2018-09-11 17:21] cbizon opened #224 "/disease/{id}/phenotypes and phenotype/{id}/diseases not symmetric?"
If I look for the phenotypes of MONDO:0015967, I find HP:0000833, but if I look for the diseases of HP:0000833, I don't get MONDO:0015967 back.

[2018-09-11 17:30] cmungall commented on #40
On the ribbon tracker @nathandunn asked:

I believe what you are asking is whether people should be able to pass in a slim as a set of class IDs?

Yes, we need to support two use cases

 1. passing in a subset (aka slim) as a set of class IDs
 2. passing in a named subset (aka slim)

Currrently only 1 is implemented. The proposal is to support 2 as well.

side note: The nomenclature is confusing h

[2018-09-11 22:56] cmungall commented on #224
We don't necessarily expect this. A query for S will return associations `<S' P O>`, where this triple entails `<S P O>` (i.e. `S'` is a descendant of `S`).

So your query for MONDO:0015967 ! rare genetic diabetes mellitus will get back associations like

[code]

because

[code]

so in your reciprocal query for HP:0000833 you will get back the specific disease MONDO:0007669

Not sure how best to a

[2018-09-12 01:37] cbizon commented on #224
?OK, thanks for the explanation!

________________________________
From: Chris Mungall <notifications@github.com>
Sent: Tuesday, September 11, 2018 6:56 PM
To: biolink/biolink-api
Cc: Chris Bizon; Author
Subject: Re: [biolink/biolink-api] /disease/{id}/phenotypes and phenotype/{id}/diseases not symmetric? (#224)

We don't necessarily expect this. A query for S will return associations <S' P O>, wh

[2018-09-14 21:39] lpalbou commented on #40
@cmungall I suppose we can duplicate the current `slim` parameters in `subset` parameters, then tag all `slim` parameters as deprecated, hence giving notice to users they should not use the `slim` parameter anymore. Would that be ok ?

Note: that's what we did with @deepakunni3 regarding the `/bioentity/goterm/{id}/genes` route, deprecated in favor of `/bioentity/function/{id}/genes`

[2018-09-18 21:56] nathandunn opened #226 "HGNC ids not being looked up properly"
The is affecting all of the ribbon code using human data.

No work with hgnc id: HGNC:11204

https://api.monarchinitiative.org/api/bioentityset/slimmer/function?&slim=GO:0003824&slim=GO:0004872&slim=GO:0005102&slim=GO:0005215&slim=GO:0005198&slim=GO:0008092&slim=GO:0003677&slim=GO:0003723&slim=GO:0001071&slim=GO:0036094&slim=GO:0046872&slim=GO:0030246&slim=GO:0003674&slim=GO:0008283&slim=GO:007184

[2018-09-18 23:02] deepakunni3 commented on #226
@nathandunn Looks like the lookup from HGNC to UniProtKB yields no result. This is unusual since this was working before.

Will keep looking...

[2018-09-18 23:59] deepakunni3 commented on #226
@nathandunn This bug was a result of the slimmer referring to `https://scigraph-data-dev.monarchinitiative.org/scigraph/`, which I am assuming was taken down recently as a result of migration of Monarch servers.

That URL was temporary to begin with and we should have been using `https://scigraph-data.monarchinitiative.org/scigraph/` as defined in `config.yaml`.

[2018-09-19 00:00] nathandunn commented on #226
@deepakunni3  Great.  Should I bug @kshefchek  to update the API server?

[2018-09-19 00:08] deepakunni3 commented on #226
Yes, @kshefchek would be able to help with updating the production server.
Although, I still am not able to get the desired behavior from the api-dev. But it works properly on a local instance.

[2018-09-19 00:12] nathandunn commented on #226
Ah okay.    Weird.

[2018-09-19 00:17] deepakunni3 commented on #226
Oh wait. nevermind. The build is running.

If I have a success on api-dev then I can trigger an update myself for the prod API.

[2018-09-19 02:42] nathandunn commented on #226
Its working here and on production.  Thanks @deepakunni3  !

[2018-09-19 02:42] #226 closed, assigned to nobody

[2018-09-19 15:20] deepakunni3 commented on #226
Thanks to @kshefchek

This was happening because we had an exception being thrown server side (related to Ontobio).
Kent had a workaround for it which fixed the issue on `master` but its still an issue on `dev`. But the fix is temporary and will need to be removed when we release next version of Ontobio.

[2018-10-04 20:52] tmushayahama opened #228 "Internal API request - Annotation Review Model Search"
Annotation Review wants to get GO CAMs from any search criteria combination (high level definition, but there are some constraints).
of term, pmid, gene product, curator, group and species.

![image](https://user-images.githubusercontent.com/2273929/46496036-d3c52000-c7cb-11e8-8ff5-b3273894ac60.png)

Annotation review is in active development, so the api request requirements are not yet stable. Be

[2018-10-11 21:13] deepakunni3 opened #229 "Routes with a trailing slash yields a 404"
Routes with a trailing slash yields a 404, when in reality should behave just as same as routes without a trailing slash.

Ex:
`https://api.monarchinitiative.org/api/bioentity/gene/NCBIGene:3630/homologs/?homology_type=O&fetch_objects=false` - gives a 404

but
`https://api.monarchinitiative.org/api/bioentity/gene/NCBIGene:3630/homologs?homology_type=O&fetch_objects=false` - returns the proper resu

[2018-10-15 17:03] putmantime opened #232 "Complete /bioentityset/homologs/"
This would be a very useful service for re-executing translator modules on orthologs, then returning to human orthologs

[2018-10-16 00:02] #229 closed, assigned to nobody

[2018-10-22 23:55] kshefchek commented on #122
bump, @realmarcin was asking about this today.

See also https://github.com/biolink/biolink-api/issues/115

[2018-10-24 20:07] lpalbou opened #233 "Slimmer function: some annotations not fetched"
Discovered while checking for the presence/absence of annotations here: https://github.com/geneontology/ribbon/issues/69

In [this example](https://www.alliancegenome.org/gene/MGI:88276#function---go-annotations), no CC annotations are shown or retrieved (see [API call](https://api.monarchinitiative.org/api/bioentityset/slimmer/function?&slim=GO:0003824&slim=GO:0004872&slim=GO:0005102&slim=GO:0005

[2018-10-30 22:51] lpalbou commented on #233
This [PR](https://github.com/geneontology/ribbon/pull/73) solved the issue, now all the CC are indeed retrieved

[2018-10-30 22:51] #233 closed, assigned to deepakunni3

[2018-11-02 18:40] cmungall opened #235 "Allow configuration of endpoints in a biolink installation"
The reference installation includes the union of all possible endpoints.

We want to make an API endpoint for GO, but only expose endpoints of relevance for GO

@deepakunni3 worked on configurability for AGR such that some route groupings in app.py could be masked. However, some modules like bioentity.py contain multiple endpoints, some of which should be filtered. We could split bioentity into mu

[2018-11-19 13:20] lpalbou opened #238 "Slimmer function: new field"
When executing a [slimmer / function query](https://api.monarchinitiative.org/api/bioentityset/slimmer/function?&slim=GO:0016491&slim=GO:0016787&slim=GO:0016740&slim=GO:0016874&slim=GO:0030234&slim=GO:0038023&slim=GO:0005102&slim=GO:0005215&slim=GO:0005198&slim=GO:0008092&slim=GO:0003677&slim=GO:0003723&slim=GO:0003700&slim=GO:0008134&slim=GO:0036094&slim=GO:0046872&slim=GO:0030246&slim=GO:0097367

[2018-11-27 00:07] deepakunni3 commented on #238
If we can have a generic field that can apply to all objects then that would be more aligned with the spirit of the BioLink Model. This field can refer to aspect when the object is an ontology term.

Perhaps this information can also be provided in 'meta' property of an object?

Ex:
[code]

**Note:** Not sure if I am overloading the meaning of 'meta' here.

[2018-11-27 11:22] lpalbou commented on #238
Well... if you want to put meta, then put also the label as the label of an object is IMO a meta, not the object itself nor a reference.

More generally, this triggers the question that we really have to simplify the complexity of the payload response. Right now, the slimmer function for 4 genes is 8mb of data to retrieve, that's a lot, and the more we add this kind of possibly useful abstraction,

[2018-12-05 21:57] #179 closed, assigned to nobody

[2019-01-10 20:24] monicacecilia commented on #141
@kshefchek @cmungall - a gentle nudge to address appropriateness of the proposed approach and get @deepakunni3 running on this. Thank you!

[2019-01-24 17:59] deepakunni3 commented on #235
Fixed via https://github.com/biolink/biolink-api/pull/237

[2019-01-24 17:59] #235 closed, assigned to nobody

[2019-01-30 18:16] deepakunni3 opened #246 "Add more routes for fetching ortholog-x data"
We currently have,
* `bioentity/gene/{id}/ortholog/diseases`
* `bioentity/gene/{id}/ortholog/phenotypes`

Potentially new routes to add,
* `bioentity/gene/{id}/ortholog/genotypes`
* `bioentity/gene/{id}/ortholog/interactions`
* `bioentity/gene/{id}/ortholog/anatomy`
* `bioentity/gene/{id}/ortholog/functions`
* `bioentity/gene/{id}/ortholog/pathways`
* `bioentity/gene/{id}/ortholog/publications`
*

[2019-02-08 00:10] deepakunni3 opened #248 "Provide association subject and object type in response"
When fetching associations, the `object` is annotated with id, label, taxon but there is no field describing its type.

Would be useful to have a type property for both `subject` and `object` of an association.

**Note:** This requires modification to the `biomodel/core.py` and the Solr query itself.

[2019-02-14 16:10] YaphetKG opened #249 "What exactly does "Inverse" imply ?"
I was trying to interpret the results from API calls on biolink and came across the inverse key in the relation for each association.
`"associations": [
   ....
      "relation": {
        "inverse": false,
        "id": "RO:0002200",
        "label": "has phenotype"
      },
...]`
I wasn't quite sure what this inverse implies when value is true, I am assuming that it means that the subject and ob

[2019-02-14 20:40] kshefchek opened #251 "Dev server takes minute and a half to boot up"
This is non urgent but something I noticed while hacking on biolink, running the dev server via:

    python biolink/app.py

takes ~100 seconds to start up.  This can be cumbersome when making small changes and checking updates.  There appears to be some preloading steps that are executed twice.  See the attached logs:
[biolink-dev-logs.txt](https://github.com/biolink/biolink-api/files/2866716/bio

[2019-02-19 02:02] cmungall commented on #251
that's not good, Deepak and I can take a look at this

[2019-02-19 18:16] deepakunni3 commented on #251
I noticed this two weeks ago and here is what I gathered.

- `AnnotationScore` class initializes `OwlSimApi`, which in turn loads `scigraph:ontology` into memory (~30 seconds)
- `PhenoSimEngine` class initializes `OwlSimApi`, which in turn loads `scigraph:ontology` into memory (~30 seconds)
- This is done at startup to prevent large wait times for API calls that uses `AnnotationScore` and `PhenoSi

[2019-02-19 18:47] kshefchek commented on #251
Ah so I'm the culprit! I'll have to remind myself what I'm doing here and take a different approach.

[2019-02-19 18:55] deepakunni3 commented on #251
If Ontobio is properly caching `scigraph:ontology` then this step should move faster. The first call will take 30 seconds and all subsequent initialization will take a fraction of that.

Although I am not sure why caching is not working.

[2019-02-19 18:59] kshefchek commented on #251
possibly related -  https://github.com/biolink/ontobio/pull/278#issuecomment-455020850

[2019-02-19 19:12] deepakunni3 commented on #251
Okay, I'll take a look at it. Might be a limitation of the caching mechanism used

[2019-02-20 00:00] kshefchek commented on #251
uncommenting https://github.com/biolink/ontobio/blob/d2ab6facf14bc373c4f008e00c40b2e717a8285c/ontobio/ontol_factory.py#L78 helps a little.  I'm questioning my design decision.  OwlSim2Api could be treated like a singleton class, and I'm not sure the best place to instantiate it.  Another option is to adjust the constructor so it's not creating a scigraph ontology factory, or moving the _get_owlsim

[2019-02-21 00:08] #251 closed, assigned to deepakunni3

[2019-02-26 19:09] deepakunni3 opened #253 "Add option for depth to SciGraph calls"

[2019-03-06 10:07] lpalbou commented on #238
@deepakunni3 any update on that ? Thanks !

[2019-03-15 17:07] kshefchek opened #258 "ClinVarVariant:549356 returns 404"
https://api-dev.monarchinitiative.org/api/bioentity/variant/ClinVarVariant:549356?fetch_objects=true&unselect_evidence=false&exclude_automatic_assertions=false&use_compact_associations=false&get_association_counts=true&rows=100

Returns a 404 and msg:
"SciGraph dynamic/cliqueLeader yields no result for ClinVarVariant:549356"

However, this call should work:
https://scigraph-data-dev.monarchinitiat

[2019-03-15 18:27] deepakunni3 commented on #258
@kshefchek Glad to hear that!

I'll take a look and see whats going on 👍

[2019-03-15 19:44] deepakunni3 commented on #258
Okay, so it looks like the SciGraph URL always defaults to scigraph-data even if the config has scigraph-data-dev.

[2019-03-15 20:11] deepakunni3 commented on #258
@kshefchek Do you recommend having the dev and prod configurations in the same `config.yaml` and have the app state determine which configuration to use?

[2019-03-15 21:27] kshefchek commented on #258
I think the way it works now is fine.  If we wanted to change it up we could have two config files and have an argument or environment variable determine which config to use.

[2019-03-18 18:18] #258 closed, assigned to kshefchek, deepakunni3

[2019-03-20 21:28] kshefchek opened #260 "OSError: Exec format error with Werkzeug 0.15"
When starting up biolink in development mode via:

    python biolink/app.py

I get the exception OSError: [Errno 8] Exec format error.  I'm on Ubuntu 16.04, have tried with python 3.5, 3.6, 3.7.  Werkzeug 0.14 works fine.

[2019-03-28 23:15] deepakunni3 commented on #260
@kshefchek See related discussion here: https://github.com/pallets/werkzeug/issues/1482

Looks like the easiest way to get around this would be to add a shebang line to `app.py`:
[code]

[2019-03-30 00:37] #260 closed, assigned to nobody

[2019-04-16 21:37] deepakunni3 opened #263 "Return IRIs for subject and object"
When BioLink API returns a response, there is no IRI included.
Its always the CURIE.

This is problematic for Monarch UI, which has to call BioLink API again to expand the CURIE.

[2019-04-16 21:39] deepakunni3 opened #264 "Return subject category and object category for associations"
Currently the associations returned by BioLink API does not have information about subject and object category. This has led to a lot of inferring post-hoc, which is less than ideal.

[2019-04-16 21:44] deepakunni3 opened #265 "Supporting pagination"
While we expose arguments for pagination, how exactly does one go about doing this?
Would be good to have some examples making use of pagination.

There seems to be a performance benefit of hitting the Solr with smaller queries than doing it in-bulk.

Also, when there is a query for thousands of associations, it looks like the Solr spends a lot of time thinking (and timing out) even if we specify

[2019-04-16 21:46] deepakunni3 opened #266 "/bioentity/function/<id> conflict with /bioentity/<type>/<id>"
The route `/bioentity/function/<id>` hides the ability to use `/bioentity/<type>/<id>` endpoint when type is `function`.

Also, the response given by the `bioentity/function/<id>` route is different than `/bioentity/<type>/<id>` route.

This is because we don't do marshaling of the response in `bioentity/function/<id>`

[2019-04-16 21:48] deepakunni3 opened #267 "Add taxon and relation filter to all routes that fetch associations"
Add `taxon` and `relation` filters to all routes that fetch associations.

`taxon` can be one or more taxon CURIEs
`relation` can be a relation CURIE that defines the association.

[2019-04-16 21:53] deepakunni3 opened #268 "/graph/edges/from/<id> oddity"
`/graph/edges/from/<id>` sometimes returns the equivalentClass clique instead of returning its neighbors.

This is because it is fetching the clique leader in this query when in fact the route should first fetch the clique leader and then get the neighbors for the returned clique leader.

Ex:
https://api.monarchinitiative.org/api/graph/edges/from/OMIM:105830

[2019-04-16 22:21] deepakunni3 opened #269 "Consolidate ontol and ontology namespace"
There are two namespaces in the API now:
- `ontol`
- `ontology`

Would be good to merge these two into one namespace and avoid repetition of routes.

[2019-04-25 18:43] deepakunni3 commented on #266
This requires,
- refactoring `/bioentity/function/<id>` such that its returning the proper marshaled association results
- calling `/bioentity/function/<id>` implementation when type in `/bioentity/<type>/<id>` is `function`, to ensure consistency

This is a bigger discussion that involves @lpalbou and @cmungall

[2019-04-26 15:09] kennethbruskiewicz commented on #265
I agree that this is critical.

In order to support software architectures that can stand a chance of taming this data-glut, such as an architecture that can interleave multiple requests from a single vendor to parallelize the task, we need pagination.

[2019-04-29 19:47] kshefchek opened #272 "Gunicorn cryptically fails when a remote resource fails to load at startup"
Steps to reproduce:

Give bad url to ontobio yaml config, eg:
owlsim2:
  url: "https://httpstat.us/404"
  timeout: 10

Start biolink with gunicorn, eg:
gunicorn -k gevent --log-level=info --timeout 90 --worker-connections 5 --bind 127.0.0.1:8888 wsgi:app

Biolink cycles through starting/stopping, with the logs:

    [2019-04-29 12:37:53 -0700] [16283] [INFO] Starting gunicorn 19.9.0
    [2019-04-2

[2019-04-30 00:09] kshefchek opened #273 "Improve /api/graph/edges/from/ endpoint"
Currently the graph edges endpoint hardcodes the depth and direction of edges to traverse:
https://github.com/biolink/biolink-api/blob/3219fef/scigraph/scigraph_util.py#L131

Ideally the endpoint would be as flexible as the scigraph /graph/neighbors/ function:
https://scigraph-data.monarchinitiative.org/scigraph/docs/

[2019-04-30 00:26] kshefchek opened #274 "gene-disease associations, add param to filter on causal, non-causal, both"
The latest release of monarch allows one to disambiguate causal and non-causal gene to disease associations by setting the association_type filter:
causal: fq=association_type:gene_disease
non-causal: fq=association_type:marker_disease
both: fq=association_type:(gene_disease OR marker_disease)

This could be added as a new parameter, with both as the default to not maintain backwards compatibility

[2019-04-30 00:31] kshefchek opened #275 "Add frequency and age of onset to disease-phenotype"
The monarch solr provides frequency and age of onset qualifiers for disease to phenotype associations, this should be added to the biolink response.

For example:
https://solr.monarchinitiative.org/solr/golr/select/?q=*:*&wt=json&fq=association_type:disease_phenotype&rows=100&fq=subject:%22MONDO:0007947%22&fl=subject,object,frequency,onset

[2019-04-30 00:32] kshefchek opened #276 "Simplify associations and facet counts with association_type field"
The latest version of monarch contains an association_type field.  This could simplify some of the calls in biolink, especially when generating counts and for gene-gene associations.

[2019-04-30 21:42] kshefchek opened #277 "/sim/search and compare, add option for ID types"
The sim endpoints take in identifiers of arbitrary types, then determines their types, and resolves them to a list of associated phenotypes.  A potential optimization is to allow a client to bypass the first (and potentially second) steps adding a type argument (eg phenotype, gene, variant, mixed).

See https://github.com/monarch-initiative/monarch-ui/pull/46#issuecomment-469552170

[2019-05-01 17:06] kshefchek opened #278 "Add all monarch association types as biolink routes"
With the association types and routes.yaml we should be able to determine what routes have yet to be added to biolink from the monarch solr:

https://solr.monarchinitiative.org/solr/golr/select/?facet.field=association_type&q=*%3A*&facet=true&facet.method=enum&facet.limit=3000&rows=0&wt=json&facet.mincount=1&indent=on&facet.sort=count

For exmaple: variant/:id/models, and all case endpoints that w

[2019-05-01 17:36] deepakunni3 commented on #278
@kshefchek I think I was being conservative when adding routes to avoid routes that never returned any associations (and I must have missed a few in the process).

But I saw @DoctorBud mention that certain pages fail to load because it expects routes to be symmetrical.

Do you recommend adding all possible enumeration of routes to the API and then have the API respond with an empty JSON if that ro

[2019-05-01 17:44] kshefchek commented on #278
I don't think we should add routes if we know it will not return any data (in the current db).  But I may be misunderstanding.  I know there are some nuances with sequence features being treated as models.

[2019-05-01 17:54] deepakunni3 commented on #278
Okay, just making sure. Couple of months back I had pruned many of the routes that never returned any associations.

[2019-05-01 23:07] deepakunni3 opened #279 "Taxon counts for different entities"
From @DoctorBud

select/?q=*%3A*&facet=true&fq=subject_closure:%22${nodeId}%22&rows=0&wt=json&facet.mincount=1&indent=on&facet.sort=count&facet.pivot=object_category,object_taxon
select/?q=*%3A*&facet=true&fq=object_closure:%22${nodeId}%22&rows=0&wt=json&facet.mincount=1&indent=on&facet.sort=count&facet.pivot=subjectKey,subject_taxon

**Note:** This is critical for Monarch UI development

[2019-05-03 22:39] #265 closed, assigned to deepakunni3

[2019-05-07 23:08] nathandunn opened #282 "autocomplete returns a funny GO idea"
http://api.geneontology.org/api/search/entity/autocomplete/GO:0070996?rows=20&prefix=GO

![image](https://user-images.githubusercontent.com/751274/57338437-370c8d00-70e2-11e9-8581-2be69d3f24a7.png)

[code]

Sometimes the go:id is ``GO:<ID>PHENOTYPE```  if that is intentional, then please close this.

[2019-05-07 23:29] deepakunni3 commented on #278
After doing the comparison between `routes.yaml` and facets for `association_type`, it looks like the following routes are missing:
- `variant/<id>/models`
- `model/<id>/cases`
- `case/<id>/models`
- `case/<id>/diseases`
- `disease/<id>/cases`
- `case/<id>/variants`
- `variant/<id>/cases`
- `case/<id>/genotypes`
- `genotype/<id>/cases`
- `case/<id>/genes`
- `gene/<id>/cases`
- `case/<id>/phenotype

[2019-05-07 23:33] kshefchek commented on #278
go for it!

[2019-05-07 23:41] deepakunni3 commented on #282
It may be possible that the GO version of BioLink API is actually configured to query Monarch Solr for autocomplete search.

Ideally it should be configured to query AmiGO Solr (GOlr).

@lpalbou @kltm

[2019-05-07 23:54] deepakunni3 commented on #268
Fixed via https://github.com/biolink/biolink-api/pull/281

[2019-05-07 23:54] #268 closed, assigned to deepakunni3

[2019-05-07 23:55] deepakunni3 commented on #253
Fixed via https://github.com/biolink/biolink-api/pull/281

[2019-05-07 23:55] #253 closed, assigned to deepakunni3

[2019-05-07 23:55] deepakunni3 commented on #273
Fixed via https://github.com/biolink/biolink-api/pull/281

[2019-05-07 23:55] #273 closed, assigned to kshefchek

[2019-05-08 23:25] #278 closed, assigned to kshefchek

[2019-05-09 21:20] realmarcin opened #284 "Need for Biolink predicates to describe data-driven similarity, and in general metadata/provenance for similarity"

[2019-05-13 18:26] nathandunn opened #285 "search should allow for filtering and faceting via taxon label"

[2019-05-13 18:44] deepakunni3 commented on #285
To add more details:

Currently the search query returns facets on `taxon_label`:
https://api.monarchinitiative.org/api/search/entity/ssh?taxon=NCBITaxon%3A9606&rows=20&start=0

@nathandunn needs facets on taxon CURIE as well

OR

have search query filter by `taxon_label` instead of strictly `taxon` CURIE.

[2019-05-15 00:03] #267 closed, assigned to deepakunni3

[2019-05-15 00:06] #263 closed, assigned to deepakunni3

[2019-05-18 17:56] kshefchek opened #287 "500 for homologs endpoint"
Our uptime URL is currently returning a 500:
https://api.monarchinitiative.org/api/bioentity/gene/NCBIGene:3630/homologs/?homology_type=O&fetch_objects=false

An exception occurred: search_associations() got multiple values for keyword argument 'relation'

We are running on commit f1c00ed7, I can revert to an earlier version for now.

[2019-05-18 18:11] deepakunni3 commented on #287
@kshefchek Thanks for reverting to an earlier commit.

I think my recent relation filter PR is messing up with a few GO specific routes.
I'll have a fix for this soon.

[2019-05-24 05:26] deepakunni3 commented on #287
@kshefchek This should be closed now, right?

[2019-05-29 17:39] deepakunni3 opened #292 "Routes for fetching ontology terms should provide aspect/category"
Routes for fetching ontology terms should provide aspect/category.

For example, https://api.monarchinitiative.org/api/ontology/term/GO%3A0003677
should also provide what the aspect of that GO term is.

As a side note, the response provided by `/ontology/` routes are different from other routes.
Looks like its not marshaling the response.

[2019-06-06 00:18] realmarcin opened #294 "ClientAPIs link broken in Readme.md"

[2019-06-06 21:26] kshefchek opened #295 "Evidence types null when association has evidence codes"
For example compare:
https://api-dev.monarchinitiative.org/api/bioentity/disease/MONDO:0007947/genes?fetch_objects=true&start=0&rows=25

vs.
[solr](https://solr-dev.monarchinitiative.org/solr/golr/select/?defType=edismax&qt=standard&indent=on&wt=json&rows=25&start=0&fl=subject,subject_taxon,object,relation,evidence,source,is_defined_by,subject_label,subject_taxon_label,object_label,relation_label,

[2019-06-20 18:33] realmarcin opened #297 "Enable biolink enrichment method to perform chemical enrichment based on ChEBI ontology"

[2019-07-02 00:21] #287 closed, assigned to nobody

[2019-07-02 00:22] #275 closed, assigned to kshefchek

[2019-07-02 00:22] kshefchek commented on #275
see https://github.com/biolink/biolink-api/pull/288

[2019-07-08 17:23] kshefchek opened #298 "Add meta field to evidence graph edge list"
Comparing [biolink](https://api-dev.monarchinitiative.org/api/bioentity/disease/OMIM:130010/genes?fetch_objects=true&start=0&rows=25) to [solr](https://solr.monarchinitiative.org/solr/golr/select/?defType=edismax&qt=standard&indent=on&wt=json&rows=25&start=0&fl=evidence_graph&fq=association_type:%22gene_disease%22&fq=object_closure:%22OMIM:130010%22&facet.field=subject_taxon_label&q=*:*) it looks

[2019-07-10 16:37] #274 closed, assigned to kshefchek

[2019-07-11 20:50] kshefchek commented on #298
fixed with https://github.com/biolink/biolink-api/pull/302

[2019-07-11 20:50] #298 closed, assigned to kshefchek

[2019-07-11 20:58] kshefchek opened #303 "Return an evidence graph given two ids and association type"
It would be useful to have a route that given two IDs and association type returns evidence serialized as a bbop graph.

This gets a little tricky with id/type orientation in solr, but theoretically we could structure the queries as subject_closure:{id1} OR {id2}, object_closure:{id1} OR {id2}.  This should return 0-2 rows, where in the case of 2 rows both evidence graphs are identical.

[2019-07-11 20:59] kshefchek commented on #303
Nevermind - see this already exists!
/evidence/graph/{id}

[2019-07-11 20:59] #303 closed, assigned to nobody

[2019-07-12 20:05] #126 closed, assigned to kshefchek

[2019-07-12 20:09] #58 closed, assigned to kshefchek, DoctorBud

[2019-07-12 20:17] #13 closed, assigned to kshefchek

[2019-07-29 23:45] lpalbou opened #306 "/bioentity/x/publications : duplicated ids"
The current API implementation is returning a list of all ids but not a set. As a consequence, there are duplicated pmids:

https://api.monarchinitiative.org/api/bioentity/function/GO%3A0044598/publications?start=0&rows=100

[2019-07-30 00:46] lpalbou opened #307 "biolink json response: beautifier nearly double payload size"
I was trying to update the GO BioLink API and during my tests, I saw a ~ double increase in payload response for the same slimmer query:

2.3MB:
<img width="1678" alt="Screen Shot 2019-07-29 at 5 35 57 PM" src="https://user-images.githubusercontent.com/24249870/62092010-756ca080-b228-11e9-916b-7d3987a8e2b4.png">
<img width="622" alt="Screen Shot 2019-07-29 at 6 06 23 PM" src="https://user-images.g

[2019-07-30 01:28] lpalbou commented on #307
I setup a server with the same code and somehow the json response is not beautified.. Somehow the code running locally and on a server is not behaving exactly the same.

Closing that ticket for now.

[2019-07-30 01:28] #307 closed, assigned to nobody

[2019-07-31 23:24] monicacecilia opened #308 "Minor improvements for term pages on monarch-ui"
Dear @deepakunni3 - I am bringing [this ticket](https://github.com/monarch-initiative/monarch-ui/issues/96) over from the monarch-ui repo. I don't have superpowers to assign you here, so I am hereby assigning you. :bowtie:

------------

#### On Performance:
- [x] From @cmungall: Some term pages can be slow to load. It would be good to diagnose so we can come up with a plan, e.g., http://beta.mona

[2019-07-31 23:29] monicacecilia commented on #308
Added this ticket to [Monarch's New UI v1.0 Project Board](https://github.com/orgs/monarch-initiative/projects/8).

[2019-08-01 22:27] deepakunni3 commented on #308
After reviewing the details of this issue (Thanks @monicacecilia for assembling all this info), following are the action items:
- avoid distinct counts for `get_association_counts`; show raw association counts instead, to avoid confusion.
- add an additional parameter to the route for distinct association counts; for example `get_distinct_association_counts` such that we can get distinct counts wh

[2019-08-02 15:22] monicacecilia opened #309 "Add details about biolink-api in demo page"
In the page https://api.monarchinitiative.org/api/ we should include more details about the BioLink API. Perhaps using text from this ReadMe file https://github.com/biolink/biolink-api/blob/master/README.md

@pnrobinson suggested adding the following ([see the request in the monarch-ui repo](https://github.com/monarch-initiative/monarch-ui/issues/107)):

- What is the BioLink API?
- What are the t

[2019-08-02 15:22] monicacecilia commented on #309
@deepakunni3

[2019-08-06 18:40] monicacecilia commented on #223
I am assuming that we no longer need to worry about this issue, given https://github.com/monarch-initiative/monarch-ui/pull/138
@kshefchek - requesting to close this ticket, please.

[2019-08-06 19:01] kshefchek commented on #223
I still think we want this via biolink instead of directly from scigraph, and if not we need to remove the rest function that is currently 404ing.

[2019-08-06 20:22] monicacecilia commented on #223
Agreed. Doing this via BioLink would be a good next step.

I cannot reproduce the error on the production site nor on the beta site. So I may be misunderstanding where I'm supposed to be looking.

- What is https://api.monarchinitiative.org/api/nlp/annotate/ ? - This is where I'm getting a 404.
- I don't understand what @nathandunn means by 'backend example' above in the description. Nathan, is th

[2019-08-06 20:35] kshefchek commented on #223
Theres a api/nlp/{text} route that is not functional, for example
https://api-dev.monarchinitiative.org/api/nlp/annotate/test%20text

Both monarch legacy and beta use the scigraph annotator directly

[2019-08-07 00:59] monicacecilia commented on #223
Looks like this will be an issue for @deepakunni3. 👀

[2019-08-19 13:18] lpalbou opened #312 "Slimmer function route: duplicated results ?"
Test query: https://api.monarchinitiative.org/api/bioentityset/slimmer/function?slim=GO:0016043&subject=MGI:88276&rows=-1

Look for "regulation of histone demethylase activity (H3-K4 specific)". There are two associations for that GO term but except for the association id, those are duplicate.

Looking at the [GOLR level query](http://golr-aux.geneontology.io/solr/select?fq=document_category:%22an

[2019-08-23 17:17] kshefchek opened #313 "Add facet.field for association functions"
Currently setting facet=true defaults to subject_taxon_label and object_closure, but we have a few edge cases where we want the object_taxon facets.

We also want to make sure the taxon filter is always an array.  In some cases it is an array, /bioentity/gene/{id}/diseases, but in some cases it is single valued, /bioentity/gene/{id}/homologs

[2019-08-29 02:28] monicacecilia commented on #308
@kshefchek - ping! :bowtie:

[2019-08-29 14:53] deepakunni3 commented on #223
Yes, this should be easy to implement. I just have to route SciGraph annotator calls via BioLink API.

[2019-08-29 16:18] kshefchek commented on #308
I think this can be closed with https://github.com/biolink/biolink-api/pull/310

[2019-08-30 19:13] #295 closed, assigned to nobody

[2019-08-30 19:16] kshefchek commented on #313
closed with https://github.com/biolink/biolink-api/pull/315

[2019-08-30 19:16] #313 closed, assigned to nobody

[2019-09-02 09:24] lpalbou opened #316 "Aspect field in assoc objects"
It's great to now have the aspect field for each object of the association.

I think however it would make more sense if instead of showing the label of the aspect (more subject to change), we were showing its id ?

Example:
[code]

would become
[code]

@deepakunni3 @cmungall

[2019-09-03 12:11] lpalbou commented on #316
As an example, it seems the label of GO:0003674 have recently changed from molecular_function to molecular_activity, presumably following the GO-CAM specs discussion ?

A [query to GOLr](http://golr-aux.geneontology.io/solr/select?fq=document_category:%22ontology_class%22&q=*:*&wt=json&rows=2&fq=annotation_class:%22GO:0003674%22&fl=annotation_class,annotation_class_label) will nonetheless shows "m

[2019-09-10 23:46] deepakunni3 opened #318 "Discrepancy in results due to a mixed variety of calls"
EPM2A (HGNC:3413):

- [EPM2A](https://www.genecards.org/cgi-bin/carddisp.pl?gene=EPM2A#function) in genecards.org provides 13 GO annotations
- [EPM2A](http://amigo.geneontology.org/amigo/gene_product/UniProtKB:B3EWF7) in AmiGO has 4 GO annotations
- [EPM2A](https://monarchinitiative.org/gene/HGNC%3A3413#functions) in Monarch legacy has 2 GO annotations
- [EPM2A](https://beta.monarchinitiative.org/

[2019-09-11 00:39] diekhans opened #319 "end-user adventures in attempting to use API for the first time"
I am attempting to use the Monarch API for the first time and am finding it rather difficult to learn from the documentation.  It is a process of
experimentation rather than following documentation.  This is a slow and error-prone approach to programming.

Just for reference, I am trying to query for tuples of (gene, variant, publication) in human, although I would rather learn the API than be tol

[2019-09-11 22:15] deepakunni3 commented on #306
@lpalbou Good catch. I'll make the necessary changes.

[2019-09-24 15:16] deepakunni3 opened #321 "Clique leader not reachable from outgoing edges from a node in SciGraph"
When querying SciGraph, I observed something odd:

If I query for an NCBIGene node and try to get OUTGOING edges, I do not get any HGNC node (even though the clique leader is expected)

Alternatively,
If I query for the same NCBIGene node and try to get INCOMING edges, I get the proper HGNC node.

Is there a reason why this changed? Shouldn't `equivalentClass` edges between the two nodes be bidire

[2019-09-25 01:07] kshefchek commented on #321
SciGraph does not add the inverse edge when an owl property is symmetrical.  But this is odd that it changed, I'll take a closer look.  Using /dynamic/cliqueLeader/{id} is the safest way to get a clique leader.

[2019-09-25 19:47] kshefchek commented on #321
@deepakunni3 I don't see a change in the entrez gene ingest for making eqs to HGNC, do you recall the specific ID(s)?

[2019-10-04 17:50] deepakunni3 commented on #321
To give more context:

Currently api-prod uses MyGeneInfo for converting gene-to-protein where as api-dev uses SciGraph for conversion (which is what we want).

https://api.monarchinitiative.org/api/bioentity/gene/NCBIGene%3A6469/function?rows=100&facet=false&unselect_evidence=false&exclude_automatic_assertions=false&fetch_objects=false&use_compact_associations=false

Yields results since we conve

[2019-10-04 18:58] kshefchek commented on #321
I'll have to take a closer look at dipper to see if the data changed, but I think the easiest thing is to use the cliqueLeader service

[2019-10-04 19:26] deepakunni3 commented on #321
Sure! It seems more straightforward and correct than getting it via `traverse_chain` 👍

[2019-10-08 18:49] #321 closed, assigned to nobody

[2019-10-10 19:14] deepakunni3 commented on #223
This is done via #317

[2019-10-10 19:14] #223 closed, assigned to deepakunni3

[2019-10-10 22:54] cmungall opened #325 "Add category to autocomplete query"
I would like to restrict autocomplete to gene, allele, phenotype, etc

E.g
https://api.monarchinitiative.org/api/search/entity/autocomplete/Bloc1s6&category=allele

[2019-10-10 23:18] deepakunni3 commented on #325
We do this already.

For example:
https://api.monarchinitiative.org/api/search/entity/autocomplete/Bloc1s6?&category=gene

gives only results for type `gene`

[2019-10-12 02:15] cmungall opened #327 "Improve allele autocomplete"
For some alleles e.g.
http://www.informatics.jax.org/allele/MGI:6277008

We use the label `Bloc1s6<em1(IMPC)Mbp>`

But the `<` is formatting, a user might do something like

`Bloc1s6em1(IMPC)Mbp`

but this won't return results eg

https://api.monarchinitiative.org/api/search/entity/autocomplete/Bloc1s6%3Cem1(IMPC)Mbp%3E

https://api.monarchinitiative.org/api/search/entity/autocomplete/Bloc1s6%3Cem

[2019-10-17 19:49] cmungall commented on #325
doh forgot the '?'. And somehow I didn't spot the category field when I looked at the swagger

[2019-10-17 19:49] #325 closed, assigned to nobody

[2019-10-17 22:31] lpalbou opened #328 "Query with content-type : application/json returns 400 status code"
Sending this query:

curl 'http://api.geneontology.org/api/ontology/ribbon/?subset=goslim_agr&subject=ZFIN:ZDB-GENE-980526-166&subject=HGNC:10848&subject=MGI:98297&subject=RGD:3673&subject=FB:FBgn0004644&subject=WB:WBGene00001700&subject=WB:WBGene00001691&subject=WB:WBGene00004264&subject=WB:WBGene00006952&exclude_PB=true&exclude_IBA=true' -H 'Content-Type: application/json' -I

Will return a 400

[2019-10-17 22:36] lpalbou opened #329 "Merge the implementations of some GO & Monarch BioLink routes"
There are some divergences between the GO & Monarch API.

Some can be resolved (e.g. adding parameters to the slimmer route), but some will need more discussions (e.g. implementation specific documentation for each route)

Example: new route created to fullfil the ribbon data model
![Screen Shot 2019-10-17 at 3 33 46 PM](https://user-images.githubusercontent.com/24249870/67052615-8c1de780-f0f3-11e

[2019-10-22 22:43] lpalbou opened #332 "Slimmer route: add exclude_slim parameter"
**Proposal**: add a new parameter exclude_slim to the bioentityset/slimmer/function route to exclude in the result set all annotations that are mapped to any slim of exclude_slim

**Why**: creating the "other" category in the ribbon requires to fetch annotations for all slim terms of an aspect and to build the annotations set which are mapped to the aspect but not to any of the specific slim terms

[2019-10-29 00:59] cmungall commented on #332
This seems reasonable. Do we want to also allow exclusion on any arbitrary set of classes, as well as a predefined slim/enumeration?

[2019-10-29 19:03] kshefchek opened #333 "Have biolink pull gene desriptions and pubmed info from mygene and eutils"
Currently on the monarch ui we pull gene descriptions and pmid via the client/browser; however, this behavior is blocked by some browser setups and also results in us over pinging these services.  It would be useful to instead fetch these at the API level and cache them.

[2019-11-07 19:55] kshefchek opened #336 "Cache gene sets and allow for set operations"
We are often asked to generate gene sets based on filters, that amount to generating gene sets and performing set operations on them.  We could theoretically introduce this functionality to biolink, by caching sets and then passing operations as a REST param, as an example:

We generate and cache the following sets:
A. All human protein coding genes
B. Human protein coding genes with mouse ortholo

[2019-11-18 20:37] deepakunni3 opened #337 "Optional parameter to disable inferring of taxon when fetching associations"
Add an optional parameter to routes to disable inferring of taxon when fetching associations.

Related to https://github.com/monarch-initiative/monarch-ui/issues/168

[2019-11-18 20:46] #276 closed, assigned to kshefchek

[2019-11-18 23:04] kshefchek opened #338 "nginx errors after upgrading to gunicon 20.0.0"
After upgrading to gunicorn 20.0.0 biolink no longer renders the swagger api-docs page, https://api-dev.monarchinitiative.org/api with 'ReferenceError: SwaggerUIBundle is not defined'

Nginx is showing:
upstream prematurely closed connection while reading upstream

The rest of the API seems to work fine. Scanning https://github.com/benoitc/gunicorn/issues to see if this has been reported with some

[2019-11-22 00:50] kshefchek opened #339 "Subject_label null for mart queries"
For example: https://api.monarchinitiative.org/api/mart/disease/gene/NCBITaxon%3A9606

[2019-12-05 01:23] kshefchek opened #340 "Move monarch-mme code to ontobio/biolink-api"
We have an unmaintained mme server here - https://github.com/monarch-initiative/monarch-mme

I think this would be better supported if it lived in biolink.  It also needs to be updated to the latest MME schema.

More info - https://github.com/MatchmakerExchange
https://github.com/ga4gh/mme-apis

[2019-12-11 16:38] Prakash2403 opened #343 "Getting 504 for function endpoint in gene"
GET request at [https://api.monarchinitiative.org/api/bioentity/gene/HGNC:15/function](https://api.monarchinitiative.org/api/bioentity/gene/HGNC:15/function) yields 504.

However, GET request at [https://api.monarchinitiative.org/api/bioentity/gene/HGNC:15/](https://api.monarchinitiative.org/api/bioentity/gene/HGNC:15/) returns relevant response.

EDIT: Works now, maybe some network issue or lates

[2019-12-12 04:26] #343 closed, assigned to nobody

[2019-12-27 15:22] kshefchek opened #345 "Update phenotype closure bins with new Upheno classes"
The closure bins in [biolink](https://github.com/biolink/biolink-api/blob/92f6924/biolink/api/bio/closure_bins.py#L2) are no longer subclasses of UPHENO:0001001.  We should update these with equivalent classes in the latest version (this ticket may be premature as this work is ongoing).  In the meantime these classes still work for binning but are just not categorized as phenotypes in our graph.

[2020-01-08 20:01] kshefchek opened #346 "Add equivalent ids in bioentity/{id} endpoint"
Currently /bioentity/{id} returns xrefs for an identifier; it would also be useful to return identifiers that we consider equivalent.  This is especially useful for disease and gene ids.

cc @rgb4268

[2020-01-09 13:27] anishpal29 commented on #260
Hi same issue here. Tested on
Centos 7.4 with python 3.6 after building docker image.
it is working on local machine on windows 10.

[2020-01-27 21:46] kshefchek opened #347 "Add ability to filter on leaf nodes in autocomplete"
For applications such as the phenotype profile search it is useful to limit terms on "leaf" nodes, or terms that do not contain any subclasses.  This is useful for diseases, but not for phenotypes, so this will require some special filter logic (category:disease AND leaf:true) OR ...

[2020-01-27 22:47] kshefchek commented on #345
See https://github.com/obophenotype/upheno-dev/issues/15

[2020-02-05 23:06] kshefchek opened #348 "Add tsv serializer to /sim/search and /sim/compare"
Currently the only option is json, but we should have TSV options for both of these services

[2020-02-05 23:07] kshefchek commented on #77
bumping this ticket, we need a tsv serializer for the mart service or for all association endpoints

[2020-02-26 20:58] kshefchek opened #349 "remove deprecated werkzeug.cached_property"
When booting biolink it exits at start-up with the exception:

[code]

See https://github.com/jarus/flask-testing/issues/143

temporarily fixed by anchoring Werkzeug to 0.16.1

[2020-02-26 22:00] kshefchek commented on #347
this is doable now given https://github.com/SciGraph/golr-loader/commit/4a1c91526a95cbb956013a5bdad4a83de6192967

[2020-02-26 22:02] kshefchek commented on #349
theres a large reduction in logs after changing werkzeug 0.16.1 (or perhaps from another dep being upgraded)

[2020-03-05 21:47] kshefchek opened #350 "Version API and add to pypi"
I think this would be useful for making the monarch stack for reproducible and buildable from scratch.

[2020-03-23 23:08] kshefchek commented on #308
closed with #310

[2020-03-23 23:08] #308 closed, assigned to deepakunni3

[2020-04-02 19:48] kshefchek commented on #347
instead we added a boolean for nodes with a phenotype since many non leaf diseases contain direct phenotype annotations, closed with https://github.com/biolink/biolink-api/pull/351

[2020-04-02 19:48] #347 closed, assigned to kshefchek

[2020-04-02 21:32] kshefchek commented on #337
added with https://github.com/biolink/biolink-api/pull/341

[2020-04-02 21:32] #337 closed, assigned to kshefchek

[2020-05-27 17:51] kshefchek opened #353 "Add synonym types to bioentity {id} endpoints"
See the request here - https://github.com/monarch-initiative/monarch-ui/issues/334

Example: https://api-dev.monarchinitiative.org/api/bioentity/disease/MONDO:0007947

Currently bioentity/{type}/{id} combines all synonym types into one list, so the only way to get this is from the graph endpoint.  We should make sure the pred field reflects the type of synonym, or break these out into different fi

[2020-05-28 21:24] kshefchek opened #354 "Add news endpoint that returns monarch blog rss feed"
Currently we hardcode our news items on the monarch ui; however it would be much easier if we could fetch this from the RSS feed.  There doesn't seem to be a good way to do this from the browser because they block CORS.  We could use https://cors-anywhere.herokuapp.com/https://medium.com/feed/@monarchinit but this seems hacky.

Feed: https://medium.com/feed/@monarchinit

Theres also https://api.rs

[2020-05-29 16:08] kshefchek opened #355 "Switch scigraph annotate backend to scigraph-ontology"
Currently the backend is wired to scigraph-data but I think the ontology graph works better for nlp.

Long term we should look to replace this entirely, as @deepakunni3 I know you've been testing out some pure python nlp approaches. In some cases our solr endpoint performs better than the scigraph nlp:
Scigraph nlp: "diabetes type II" -> MONDO:0005015  diabetes mellitus (disease)
Solr: "diabetes t

[2020-05-29 18:33] kshefchek commented on #350
in retrospect, perhaps theres not a huge need to put this on pypi and we can use github releases, we can circle back for biolink-api 2.0

[2020-05-29 18:33] #350 closed, assigned to nobody

[2020-05-29 18:47] kshefchek opened #356 "Move data manipulation in monarch-ui to ontobio/biolink-api"
Due to the natural evolution of the two codebases, the monarch-ui currently does a lot of json manipulation after fetching data from Biolink.  Ideally, this would be minimized and biolink would provide the ui a closer representation of what is needed for our views.

Examples:
- Node pages make two calls to Biolink - neighbors, and {type}/{id}, followed by a lot of data manipulation - see [Node.vue

[2020-05-29 18:55] kshefchek commented on #356
See related/overlapping
https://github.com/biolink/biolink-api/issues/346
https://github.com/biolink/biolink-api/issues/353

[2020-05-29 21:08] kshefchek commented on #328
What is the use case for passing 'application/json' for url encoded parameters? The content type header should be application/x-www-form-urlencoded.

I suspect if you set up a POST request in the api code and passed JSON data this would all work, eg
[code]

[2020-05-29 21:11] kshefchek commented on #294
fixed with f4a15c2d

[2020-05-29 21:11] #294 closed, assigned to nobody

[2020-05-31 01:09] cmungall commented on #355
As I recall there are some entities in the data graph not in the ontology graph. e.g I believe we load human genes in the ontology graph but not other genes? This may not be a concern but it should be well documented do there is no unexpected behavior.

Curious to see your solr experiments

[2020-06-10 22:25] #355 closed, assigned to kshefchek

[2020-07-22 17:24] lpalbou opened #358 "gene_to_uniprot_from_mygene (mapping of HGNC issue)"
We got a message this morning on the alliance helpdesk that the ribbon wasn't working for a new HGNC id: https://agr-jira.atlassian.net/browse/AGRHELP-74 (may require jira account to access)

I checked the biolink log and essentially there is no uniprot results for that new HGNC id:
http://mygene.info/v3/query?q=HGNC:53833&fields=uniprot

As a counter example, we do have uniprot results for older

[2020-08-10 20:40] kshefchek commented on #358
the code is still there but was refactored in https://github.com/biolink/biolink-api/commit/34be1d735d01ea7d11a91f578d363070c5bf7b30

[2020-09-02 17:38] kshefchek opened #359 "Add scigraph clique and candidate clique endpoints to biolink (dupe see #55)"
Some time ago I added two functions to scigraph:

/dynamic/candidateClique/{id}
Returns ids that are equivalent and potentially equivalent (xrefs)

/dynamic/clique/{id}
Returns the id and all its equivalents

should we add this functionality to biolink?  this probably makes sense as a single function with params that specify how strict a user wants - equivalent, exactMatch, narrowMatch, broad, dbx

[2020-09-02 17:39] kshefchek commented on #359
also related https://github.com/biolink/biolink-api/issues/346

[2020-09-02 17:40] kshefchek commented on #359
exact same ticket from 2017 https://github.com/biolink/biolink-api/issues/55

[2020-09-02 17:48] #359 closed, assigned to nobody

[2020-10-08 08:00] olszewskip opened #360 "licensing vs usage of api.monarchinitiative.org/api"
Can one legally programatically use api.monarchinitiative.org/api in a commercial software without paying?
Which license am I touching sending requests to api.monarchinitiative.org/api?

[2020-10-08 13:51] kshefchek commented on #360
the license for this repo is here - https://github.com/biolink/biolink-api/blob/master/LICENSE which looks permissive for commercial use

[2020-10-08 14:46] olszewskip commented on #360
Thank You @kshefchek for the fast response.
But I'm not actually immediately interested in using the source code of this repository, so much as simply calling the api mentioned in README's "Demo" section. If I understand correctly, through the api, I'm directly or indirectly accessing many databases (listed here: https://monarchinitiative.org/about/data-sources) integrated by the effort of the Mon

[2020-10-08 15:50] kltm commented on #360
@olszewskip
The straightforward answer is, unfortunately, not particularly straightforward: you will have to determine what you can use on your own for the uses that you have in mind--there is no blanket declaration that can be made. A short overview and explanation can be found in the "Data" section of the Licensing page (https://monarchinitiative.org/about/licensing). Data reusability is a huge

[2020-10-08 18:51] olszewskip commented on #360
Thank You @kltm.
But then doesn't it mean that effectively all those licenses are in force for each and every api request? How can one guarantee that only a specified selection of databases is used in resolving any given query to https://api.monarchinitiative.org/api. E.g., if I understand correctly, even if my query explicitly mentions only curie identifiers from free datasources, the processing

[2020-10-09 20:49] kltm commented on #360
@olszewskip
As far as the data you access from the API, that would be a reasonable conclusion: you will have to determine what you can use on your own for the uses that you have in mind. At this point in time, the data from the API is not separately marked with licensing information, so there is currently no structured way to guarantee your use and reuse profile for the data received from any give

[2020-10-26 20:28] kshefchek opened #363 "Add endpoint for variant pivot table on relation (patho, likely patho) and gene given a disease ID"
Use case: https://github.com/monarch-initiative/monarch-app/issues/864

query example (marfans): https://solr-dev.monarchinitiative.org/solr/golr/select/?wt=json&facet=true&json.nl=arrarr&rows=0&q=*:*&facet.pivot=subject_gene_label,relation_label&fq=object_closure:%22MONDO:0007947%22&fq=association_type:variant_disease&facet.pivot=subject_gene_label,subject_gene

We should also support filtering o

[2020-10-26 20:37] kshefchek opened #364 "Add ability to filter variants by clinvar confidence score for disease variant associations"
For example by setting a minimum confidence threshold, eg setting 2 for marfans would generate the solr query:

https://solr.monarchinitiative.org/solr/golr/select/?wt=json&rows=10&q=*:*&fq=object_closure:%22MONDO:0007947%22&fq=confidence_score:[2%20TO%20*]

[2020-11-11 00:57] kltm opened #365 "biolink-api /bioentity/function/ route does not seem to implement taxon filters"
While it appears in the documentation, it seems that the biolink-api /bioentity/function/ route does not seem to implement taxon filters. For example, the following two queries give the same results:

/bioentity/function/GO%3A0002544/genes?rows=100&relationship_type=involved_in
/bioentity/function/GO%3A0002544/genes?rows=100&taxon=NCBITaxon%3A9606&relationship_type=involved_in

Originating questio

[2020-11-11 01:22] deepakunni3 commented on #365
So the above query translates to the following GOlr query:

http://golr-aux.geneontology.io/solr/select/?q=%2A%3A%2A&fq=document_category%3A%22annotation%22&fq=isa_partof_closure%3A%22GO%3A0002544%22&facet=off&facet.limit=25&facet.mincount=1&fl=id%2Cassigned_by%2Csource%2Cbioentity%2Cbioentity_label%2Ctaxon%2Ctaxon_label%2Cqualifier%2Crelation_label%2Cannotation_class%2Cannotation_class_label%2Cob

[2020-11-12 00:00] deepakunni3 commented on #365
The fix for this should be in Ontobio.

[2020-11-21 21:55] kshefchek opened #366 "search api includes solr tokenizer fields unlikely useful for users"
For example:
https://api.monarchinitiative.org/api/search/entity/VSD?prefix=HP

The output json includes the ngram, keyword, and standard tokenizer fields, which are not very useful for users.  The autocomplete response looks more sane: https://api.monarchinitiative.org/api/search/entity/autocomplete/VSD?prefix=HP, but we might also consider things like equivalent terms and synonyms

[2021-01-06 18:48] kshefchek opened #368 "Allow search to filter diseases only in OMIM"
For example, @iimpulse would like to search for diseases only in OMIM, such as:

https://api.monarchinitiative.org/api/search/entity/marf?prefix=OMIM&rows=20&start=0&minimal_tokenizer=false

But this returns nothing.

First we'll need to make sure the equivalent id list is reflexive, so that we can put the filter on this field instead of id.  This might also be potentially confusing to users, as t

[2021-02-12 01:26] kltm commented on #365
@deepakunni3 Just to clarify, we need another ticket for ontobio to reach closure on this issue?

[2021-03-05 16:06] kshefchek opened #369 "bioentity/{id} should include the alternative ids for both primary and deprecated ids"
For example:
https://api.monarchinitiative.org/api/bioentity/HP:0002189 should return HP:0001262 as its current id

and https://api.monarchinitiative.org/api/bioentity/HP:0001262 should return HP:0002189 as an alt id

@iimpulse perhaps something like this already exists on the HPO API?  Either way we want to generalize here to all ontologies used in Monarch.

[2021-03-08 10:19] dominickdm opened #370 "api/sim/search: 504 Gateway Time-out"
Hello,

Since several days now, we get a HTTP 504 error when using the api/sim/search API call. What is the reason and can it be fixed?

https://api.monarchinitiative.org/api/sim/search?is_feature_set=true&metric=phenodigm&id=HP%3A0001166&id=&limit=10

![image](https://user-images.githubusercontent.com/40289256/110308128-06f4e480-8000-11eb-91d8-97716ced8a18.png)

[2021-03-08 14:00] kshefchek commented on #370
Hi @dominickdm, the server hosting this service was maxed out, and for some reason our uptime monitoring did not pick up on this.  I've moved the service over to another server and it's back up.  Apologies for the downtime.

[2021-03-08 16:01] dominickdm commented on #370
Hi @kshefchek,
Thank you for looking into it and fixing it, i can confirm that it works again for us!

[2021-03-08 16:01] #370 closed, assigned to nobody

[2021-03-08 16:16] kshefchek commented on #370
Great!  Please let us know if theres anything we can do to improve the service

[2021-03-10 06:02] kltm opened #371 "Consider more proactive sanitizing of inputs and output in API"
From https://github.com/geneontology/biolink-api/issues/11, it looks like some bot was doing some gentle probing of the API using SQL injection to try and find a way in. It naturally didn't do much as there is no SQL backend, etc. (at this point anyways), but it does highlight something that can become problematic. As well, it triggered a firewall bot to (correctly IMO) block the source, which unf

[2021-03-18 16:23] kshefchek commented on #360
closing this ticket although we should document these issues somewhere - perhaps as a link on the swagger UI

[2021-03-18 16:23] #360 closed, assigned to kltm

[2021-04-12 19:11] pnrobinson commented on #368
It would be useful to have a query that would return MONDO is for a given OMIM query. If this is not possible please let us know and we will look for another solution -- this is currently a blocker!

[2021-04-12 19:46] kshefchek commented on #368
if you have an OMIM id, you can get the linked MONDO id via bioentity/{id}, eg
https://api.monarchinitiative.org/api/bioentity/OMIM:154700

[2021-04-12 20:09] pnrobinson commented on #368
@kshefchek that seems very useful. Are these 1:1 OMIM<->MONDO mappings?

[2021-04-22 14:07] kshefchek commented on #368
to follow up here, the original ticket was to add support for limiting autocomplete to only diseases in OMIM, which would require some updates to our solr schema and the solr loader code.  There are some additional requirements for poetry, such as mapping an OMIM 1:1 mapping to Mondo, and also to get all superclasses.  I *think* we support both these but need to check.

Another route is to expand

[2021-04-22 14:14] monicacecilia opened #372 "Add autocomplete function to help POET"
To moving forward with POET and its ability to access Mondo/OMIM information, add autocomplete on
- [ ] free text
- [ ] OMIM ids (see #368)
- [ ] Mondo ids

And have the API return:
- [ ] Exact matches MONDO==OMIM
- [ ] Superclasses MONCO ={OMIM1, OMIM2, ...}

@pnrobinson added that both of these need additional bits of information such as _de-shoutified_ name.

@iimpulse, @kshefchek, @cmungall

[2021-04-22 14:18] monicacecilia commented on #368
#372 is a "superticket" keeping track of all three requests. Feel free to remove / edit (either ticket) as needed.

[2021-04-26 19:16] pnrobinson commented on #372
@kshefchek @cmungall -- could you let us know if this is going to be possible? Do you need us to do a PR? This is the major blocker right now so if this is impossible please let us know asap so we can find something else

[2021-04-28 22:32] kshefchek commented on #368
I've added two new params to autocomplete that will support this:
include_eqs= true|false, when filtering in/out a prefix include equivalent identifiers
exclude_groups=true|false, exclude classes with children, ie only return leaf classes

I've also updated the response to include equivalent identifiers so that the Mondo ID can be mapped to OMIM ID without making a second call to bioentity

exampl

[2021-04-28 22:32] #368 closed, assigned to nobody

[2021-05-05 23:35] suzialeksander commented on #365
@deepakunni3 this issue still hasn't been resolved, is there another step or another ticket we need to open somewhere?
https://github.com/geneontology/helpdesk/issues/285

[2021-05-05 23:54] kltm commented on #365
@suzialeksander , Deepak has now moved on to a new position. We'll need to revisit this.

[2021-05-19 14:22] dominickdm opened #374 "/sim/search - limit question"
Hi,

We have a question regarding the sim/search API.

Why is the first match not the same if we do exactly the same call, but with a different limit? We would expect that the first match is always the same and that the limit is just a way to limit the list..

One of our examples (we have the same with other metrics too..)
Example:

Jaccard - Limit 1
https://api.monarchinitiative.org/api/sim/searc

[2021-05-19 17:23] #374 closed, assigned to kshefchek

[2021-05-19 18:18] kshefchek commented on #374
this is fixed now @dominickdm, please let us know if you run into any more bugs

[2021-07-28 18:39] kshefchek opened #375 "Add disease chemical data from CTD"
Currently we're ingesting these and indexing them in solr, but they're not making it to our site.  We'll need to add a /disease/{id}/chemicals endpoint.  Note that we're already getting the chemical counts linked to disease, eg https://api.monarchinitiative.org/api/bioentity/disease/MONDO:0018020?fetch_objects=false&unselect_evidence=true&exclude_automatic_assertions=true&use_compact_associations=

[2021-07-28 18:40] kshefchek commented on #372
I think this can be closed via https://github.com/biolink/biolink-api/pull/373? @pnrobinson please reopen if anything else is needed for POET

[2021-07-28 18:40] #372 closed, assigned to nobody

[2021-07-30 21:37] kshefchek opened #376 "Evidence graph is broken for publication - x associations"
When on https://monarchinitiative.org/disease/MONDO:0007947#publication and clicking the support button we're getting a confusing table with a lot of unrelated triples.

![image](https://user-images.githubusercontent.com/1467299/127713883-d5113479-4f3e-46f0-ac43-f126f2a7222e.png)

the only correct row appears at the end

![image](https://user-images.githubusercontent.com/1467299/127713941-ed09c811

[2021-08-25 15:34] kshefchek opened #378 "Allow biolink to boot up without a running instance of owlsim"
It would be convenient to allow to biolink to start up without owlsim running, and have the /sim endpoints return a message if an owlsim endpoint is currently booting (or not configured at all)

we'll need to make an effort to not continuously pin certain endpoints while owlsim is caching IC metrics, so it may be best to use an async call to track boot up, specifically
```${OWLSIM}/getAttributeInf

[2021-09-01 20:23] cemordaunt opened #379 "504 errors for /sim/search when limit varies"
Thanks so much for maintaining this API. I've been running queries with /sim/search and I keep getting 504 Gateway Timeouts when I change the limit setting. I also occasionally get 500 errors. See below for examples, I'd really appreciate any help to solve this.

**Query 1 (limit = 10)**
https://api.monarchinitiative.org/api/sim/search?is_feature_set=false&metric=phenodigm&id=MONDO%3A0001134&limit

[2021-09-01 23:22] kshefchek commented on #379
thanks for reaching out! the underlying [analysis server](https://status.monarchinitiative.org/784445233) that drives this service went down for ~24 hours, and I think what you were seeing is related to some odd caching behavior.  The lower limit query should now be working.  In the future we may add a rate limit to make sure the service can stay up - would you mind sharing your analysis needs (ie

[2021-09-08 18:01] kshefchek opened #380 "Adjustments to owlsim service to prevent server overload"
- [x] Set a max limit (eg 500)
- [x] For gene and disease to phenotype expansion, only include [direct phenotypes](https://github.com/biolink/ontobio/blob/8a2fbeeb/ontobio/sim/phenosim_engine.py#L156),  so for example sending a query with MONDO:0000001 does not take down the server
- [ ] ~~Set maxsize for caches~~ - The diskcache defaults look sane enough to me

[2021-09-30 16:49] kshefchek commented on #380
closed with #381

[2021-09-30 16:49] #380 closed, assigned to kshefchek

[2021-09-30 16:50] kshefchek commented on #379
we've recently updated some limits that should result in better performance moving forward, please let us know if you continue to see issues.  Also feel free to reach out to discuss your analysis needs - https://monarchinitiative.org/help/contact

[2021-09-30 16:50] #379 closed, assigned to nobody

[2021-10-05 15:54] cemordaunt commented on #379
Great, thank you for your help on this!

[2021-10-12 21:27] suzialeksander commented on #365
@kltm is there anyone to ping about this? Just checked and I think it's still misbehaving.

[2021-10-12 21:34] sierra-moxon commented on #365
I think I can raise my hand for this, particularly if it is ontobio and a priority. :)

[2021-10-12 21:46] kltm commented on #365
@sierra-moxon If this is as "simple" as bumping the ontobio in GO API and rolling it out, it's probably worth doing.  (That by itself may be new ground for us as we'll need to deal with the dev environment for the GO API.)
However, if it requires more plumbing, we might want to also look at the fix of correcting the documentation or trimming the non-existent feature.

[2021-10-13 04:31] kltm commented on #365
I touched bases with @cmungall about priorities v/briefly and exploring this and moving ahead should be fine in almost any case.

[2021-12-17 15:42] kshefchek commented on #378
this would be super useful but i'm not sure I'll get to it, @kevinschaper @putmantime remind me to give an overview of where all this lives and possible solutions

[2021-12-17 19:21] kshefchek opened #383 "Run tests on dockerized application prior to pushing to dockerhub"
We should update our github actions to test the dockerized version of the biolink-api instead of on the host OS.

[2022-02-09 13:41] sophie22 opened #384 "Question about the phenotyping sufficiency score"
Hello,

I'm doing a Masters project on the utility of phenotype information for variant prioritisation and came across the conference [paper](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiDltTT85z0AhVM3qQKHbTZBLsQFnoECAkQAQ&url=https%3A%2F%2Fzenodo.org%2Frecord%2F834091%2Ffiles%2FPhenoDay_SufficiencyScore_camera_ready_final.pdf&usg=AOvVaw1qCijsz5xH9keSzD8EZ_z7) about q

[2022-02-09 21:44] sierra-moxon commented on #384
Hi Sophie -

Is this the endpoint you are using (with example HP values in my example): https://api.monarchinitiative.org/api/sim/score?id=HP%3A0004935&absent_id=HP%3A0002828

I believe that is the API endpoint you should be using, yep!
In the paper you linked, the three score values are explained in section 2.5 and I'm afraid I'd make it more confusing if I tried to explain it differently here :)

[2022-02-14 12:19] sophie22 commented on #384
Thank you very much, this is what I was looking for.
Best wishes,
Sophie

[2022-02-14 12:19] #384 closed, assigned to nobody

[2022-02-16 22:48] gaurav opened #385 "SciGraph returning incorrect text/indices on Monarch API"
When I query `/api/nlp/annotate/entities`, I get back incorrect `text` values (see full description at https://github.com/monarch-initiative/scigraph-docker/issues/11). This might be a reversion of the SciGraph indices bug (https://github.com/SciGraph/SciGraph/pull/281).

[2022-02-22 21:53] vincerubinetti opened #386 "Include taxon id with taxon label in facet count of entity search endpoint"
I'm developing the 3.0 version of the monarch ui/website, and I've run into a limitation. @putmantime

Here is an example response from the `/search/entity/{term}` endpoint, searching "ssh":

[code]

Notice that `taxon_label` is being returned for facets, instead of `taxon` (id). This is nice for _displaying_ a list of taxon facets, but not for actually filtering by them, because the endpoint only

[2022-02-25 22:24] falquaddoomi opened #387 ""category" field in /nlp/annotate/entities is always empty"
When querying against `/nlp/annotate/entities`, the returned `"category"` field for each token is always an empty list.

For example,

[code]

results in (partial result):

[code]

Querying directly against Scigraph Ontology's API, e.g. via:
[code]

produces (again, in part):

[code]

I'm not sure, but it seems likely that this is because the field in `Token` (https://github.com/biolink/ontobio/bl

[2022-03-01 15:54] falquaddoomi commented on #387
In addition to renaming `category` to `categories` in `ontobio.model.nlp.Token`, the matching serializer class in biolink also needs to be updated in the same way: https://github.com/biolink/biolink-api/blob/master/biolink/datamodel/serializers.py#L336.

[2022-03-01 16:16] falquaddoomi commented on #386
It's not exactly what you're asking for, but would a facet structure like this work?:

[code]

Two things are different here: 1) there's a new `taxon` facet that groups results by taxon ID, and 2) there's a `_taxon_map` entry in `facet_counts` that groups first by taxon ID, then by taxon label, with the value being the count of both that ID and label. AFAIK there should be a one-to-one mapping bet

[2022-03-01 17:15] vincerubinetti commented on #386
That's fine with me. If this is easier to implement or more consistent with how other things and data structures in biolink are implmented, I'd say go for it.

[2022-03-01 17:47] putmantime commented on #386
Is the main reason you chose that structure because it supports 1 to many id to label mappings Faisal?
I don't believe that will be the case as we have chosen the NCBI id/label pair for a taxon.
If what I say is true I think the most explicit and easily readable structure would be an object for each with clear attributes.
`"_taxon_map": [{
    "label": "Gallus gallus",
    "id": "NCBITaxon:9031",

[2022-03-01 17:49] falquaddoomi commented on #386
I formatted it that way partly because I wasn't sure if there might be more than one label that matches a given taxon ID, and also because that structure kind of more closely matches how facet pivots are returned from Solr. If IDs and labels are in fact one-to-one I agree that the structure you proposed is more readable, and it's a trivial change on my end.

[2022-03-01 17:53] putmantime commented on #386
Let me do some research and see if I can confirm 1to1.
The typical return type from solr was something I wasn't sure of and standardizing to that might be of more value than the clarity of my proposed structure.

[2022-03-08 21:19] vincerubinetti opened #389 "`/sim/compare` `GET` results different from `POST` results"
@falquaddoomi and/or @putmantime Can you investigate this a little bit?

Not sure if this is intentional or not, but if it is intentional, it's confusing and not documented enough.

Example `GET`:

[code]

<details>
<summary>Response</summary>

[code]

</details>

Equivalent example `POST`:

[code]

<details>
<summary>Response</summary>

[code]

</details>

Perhaps a related issue, trying to use t

[2022-03-08 21:27] vincerubinetti commented on #389
~I just noticed in the `GET` response that one of the phenotype sets is empty: `"target_ids": [[]]`.~ This is no longer the case, I don't know where/when/why I saw this.

Note that I just used the Swagger UI thing to fill in these parameters...

<img width="541" alt="image" src="https://user-images.githubusercontent.com/8326331/157327987-ec241401-8b5d-4736-a56b-5722ec6761ca.png">

[2022-03-14 22:40] falquaddoomi commented on #389
I'm not seeing the response for that first command `curl -X GET "https://api.monarchinitiative.org/api/sim/compare?is_feature_set=false&metric=phenodigm&ref_id=HP%3A0000322&ref_id=HP%3A0001166&ref_id=HP%3A0001238&query_id=HP%3A0000322&query_id=HP%3A0001166&query_id=HP%3A0001238" -H "accept: application/json"` that you mentioned; instead I see this:

[code]

If I reduce the query_ids to just one (e

[2022-03-14 23:10] vincerubinetti commented on #389
I accidentally had pasted the wrong response json in there. I've updated it and it's what you posted above.

I believe they should be identical even if you don't just query one id.

It seems like you're thinking that a "profile" is one phenotype. Just to be clear, a "profile" in this case is a set of phenotypes.

That's why the `POST` endpoint takes an array of arrays for the `query` phenotypes:

[2022-03-15 01:22] falquaddoomi commented on #389
D'oh, you're right, I totally misunderstood that "profiles" part, sorry.

In summary, I think what's happening is that when you issue a GET, you're getting a single profile that consists of "HP:0000322 + HP:0001166 + HP:0001238", as the `id` and `label` fields under `query.reference` indicate. When you issue a POST, the three phenotype IDs are being treated as three independent lists, each contain

[2022-03-15 01:30] vincerubinetti commented on #389
Yep that's the ticket, that's what was causing my issue.

Not sure why I put them separately like that. Might've been tired and confused by the schema.

We can consider this closed, though I would love if there was a way to add a comment to the code that shows up in the swagger docs that explains that schema. Would've saved me a lot of time writing this issue.

I don't think we need to do that. `G

[2022-03-15 01:35] vincerubinetti commented on #389
Now I remember why. Monarch UI 2.0 puts them like that:

![image](https://user-images.githubusercontent.com/8326331/158288279-853a4d67-391b-4e16-b7da-b2506193624b.png)

It seems to me like that's an error... the `query_ids` should be in a single array like you formatted them. The 2.0 phenotype profile search "wizard" seems to suggest that we're comparing one set of phenotypes to another set of phe

[2022-03-16 21:03] vincerubinetti opened #390 "Text annotator data needs significant cleaning"
The Monarch UI 2.0 has a [giant block of code](https://github.com/monarch-initiative/monarch-ui/blob/master/src/views/TextAnnotator.vue#L296-L347) to "clean" the annotations it receives from biolink.

I can't see a good reason why such a thing should be hard coded into the frontend. We should be doing this on the backend instead, or better yet, examining the root source of the issue.

This is of c

[2022-03-21 23:11] putmantime commented on #390
I see there is a working version of the text annotator in the current preview of the new app.
At this point I would like to deprioritize moving any further with this and focus on the rest of the App.
We will be replacing the text annotator backend in the future and the node page should take priority now.

[2022-03-23 16:17] vincerubinetti commented on #390
Just to be clear, none of these issues that I've been making on `biolink` and `monarch-new` are show-stoppers. I'm creating issues to track everything that I would like to see fixed for the app to be the best it can be.

In cases where I really needed the issue to be resolved before moving forward, I simply copied the "big blocks of code" from 2.0 into 3.0 (with simplifications where possible). Wh

[2022-03-24 22:36] vincerubinetti commented on #389
@jmcmurry confirmed that it was a mistake, or at least an odd choice, for the UI 2.0 to break up the second set of phenotypes individually.

We could turn this into a docs issue, because it's still not 100% certain what this means:

<img width="161" alt="image" src="https://user-images.githubusercontent.com/8326331/160021206-fe372292-7027-4e26-96bf-50d1d85847d8.png">

I thought you just had to wra

[2022-03-24 22:36] #389 closed, assigned to nobody

[2022-03-30 21:23] vincerubinetti commented on #387
To add clarity why this is needed for the frontend:

![image](https://user-images.githubusercontent.com/8326331/160933207-9673f210-184e-486b-bb60-6ecc3644dd37.png)

It causes the annotations here to have (?) icons, because I dont know the category of each annotation, because that field is blank.

[2022-04-06 16:58] vincerubinetti opened #391 "Add general api endpoint for mapping taxon labels to ids?"
In a similar fashion to #386 , the associations endpoints, for example [this one](https://api.monarchinitiative.org/api/bioentity/disease/MONDO:0007947/variants?association_type=both&facet=true&rows=5&start=0), returns taxon facets in terms of labels, but takes taxons facets in terms of ids.

Instead of adding a `_taxon_map` facet to all these different endpoints like in https://github.com/biolink